<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('牙星公司列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>                    
             				<li>
                                <label>创建日期：</label>
                                <input readonly="true" type="text" class="time-input" data-format="yyyy-MM" id="createTime" name="createTime" />
                            </li>
                            
    					    <li>
                                <label>组织机构：</label>
      							<input type="hidden" id="treeId" name="userOrg" readonly="true"/>
                                <input  type="text" id="treeName" onclick="selectDeptTree()" readonly="true">
                            </li>
                           
                            <li>
                            	<label>员工性别：</label>
								<select id="sex" name="sex" th:with="type=${@dict.getType('sys_user_sex')}">
									<option value="">-请选择-</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
                            </li>

                            <li>
                                <label>工资种类：</label>
                                <select id="workClass" name="workClass" th:with="type=${@dict.getType('workClass')}">
                                    <option value="">-请选择-</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>

                            <li>
                                <label>出勤状态：</label>
                                <select id="workStart" name="workStart" th:with="type=${@dict.getType('workStart')}">
                                    <option value="">-请选择-</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>

                            <li>
                                <label>员工工号：</label>
                                <input type="text" id="userId" name="userId"  maxlength="7" />
                            </li>

      						 <li>
                                <label>员工姓名：</label>
                                <input type="text" id="userName" name="userName"  maxlength="10" />
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-success btn-rounded btn-sm" onclick="$.table.exportExcel()"><i class="fa fa-download"></i>&nbsp;导出</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:yx:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:yx:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:yx:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:yx:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                  <table id="bootstrap-table" data-mobile-responsive="true"  style="table-layout:fixed;width:3000px;">
					
				 </table>
                
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />

    <script th:inline="javascript">

        var editFlag = [[${@permission.hasPermi('system:yx:selectDD:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:yx:selectDD:remove')}]];
        var prefix = ctx + "system/yx/selectDD";
        /*部门管理-修改-选择部门树*/
        function selectDeptTree() {
                var options = {
                    title: '部门选择',
                    width: "380",
                    url: prefix + "/selectDeptTree",
                    callBack: doSubmit
                };
                $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            if(tree.getSelectedNodes().length==0){
            	alert("请选择组织机构");
            	return;
            }
            
            if ($.tree.notAllowLastLevel(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                layer.close(index);
            }
        }
        
        $(function() {

            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "牙星公司",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'id',
					align : "center",
					valign : "middle",
					width:50,
                    visible: false
                },
                {
                    field: 'createTime', 
					align : "center",
					valign : "middle",
					width:120,
                    title: '创建时间'
                },
                {
                    field: 'userId', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '员工工号'
                },
                {
                    field: 'userName', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '员工姓名'
                },
                {
                    field: 'sex', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '性别',
					formatter : function(value, row, index) {
						if (value == '女') {
							return '<span class="label label-danger">女</span>';
						} else if (value == '男') {
							return '<span class="label label-primary">男</span>';
						}
					}
                },
                {
                    field: 'tell', 
					align : "center",
					valign : "middle",
					width:120,
                    title: '联系方式'
                },
                {
                    field: 'card', 
					align : "center",
					valign : "middle",
					width:150,
                    title: '身份证'
                },
                {
                    field: 'address',
					align : "center",
					valign : "middle",
					width:100,
                    title: '户籍所在地'
                },
                {
                    field: 'userOrg',
					align : "center",
					valign : "middle",
					width:80,
                    title: '单位'
                },
                {
                    field: 'userArea', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '部门'
                },
                {
                    field: 'userGroup', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '区队'
                },
                {
                    field: 'userClass', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '班组'
                },
                {
                    field: 'station', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '岗位'
                },
                {
                    field: 'workType', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '工作类型',
	    			formatter : function(value, row, index) {
						if (value == "计件工资") {
							return '<span class="label label-warning">计件工资</span>';
						} else if (value == "月薪工资") {
							return '<span class="label label-success">月薪工资</span>';
						}
					}
                },
                {
                    field: 'workClass', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '工资类型',
	    			formatter : function(value, row, index) {
						if (value == "一线工资") {
							return '<span class="label label-primary">一线工资</span>';
						} else if (value == "二线工资") {
							return '<span class="label label-info">二线工资</span>';
						} else if (value == "三线工资") {
							return '<span class="label label-success">三线工资</span>';
						}
					}
                },
                
                
                {
                    field: 'workStart', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '出勤状态',
        			formatter : function(value, row, index) {
						if (value == "√") {
							return '<span class="label label-primary">√</span>';
						} else if (value == "→") {
							return '<span class="label label-danger">→</span>';
						} else if (value == "X") {
							return '<span class="label label-danger">X</span>';
						} else if (value == "Т") {
							return '<span class="label label-primary">Т</span>';
						}else if (value == "力") {
							return '<span class="label label-primary">力</span>';
						}else if (value == "↑") {
							return '<span class="label label-primary">↑</span>';
						}else if (value == "△") {
							return '<span class="label label-primary">△</span>';
						}else if (value == "Φ") {
							return '<span class="label label-primary">Φ</span>';
						}else if (value == "+") {
							return '<span class="label label-primary">+</span>';
						}else if (value == "○") {
							return '<span class="label label-primary">○</span>';
						}else if (value == "产") {
							return '<span class="label label-primary">产</span>';
						}else if (value == "J") {
							return '<span class="label label-primary">J</span>';
						}else if (value == "∕") {
							return '<span class="label label-primary">∕</span>';
						}else if (value == "⊙") {
							return '<span class="label label-primary">⊙</span>';
						}else if (value == "*") {
							return '<span class="label label-primary">*</span>';
						}else if (value == "Q") {
							return '<span class="label label-danger">Q</span>';
						}
						
                
                },
                
                {
                    field: 'workNumber', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '产量'
                },
                {
                    field: 'workPrice', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '单价'
                },
                {
                    field: 'workAll', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '总工分'
                },
                {
                    field: 'workFen', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '工分'
                },
                {
                    field: 'workSum', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '计件工资'
                },
                {
                    field: 'workHuo', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '零活工资'
                },
                {
                    field: 'workDan', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '单项工程'
                },

                {
                    field: 'userCost', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '计算工资'
                },

                {
                    field: 'remark', 
					align : "center",
					valign : "middle",
					width:80,
                    title: '备注'
                },
                {
                    title: '操作',
					align : "center",
					valign : "middle",
					width:150,
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        

        
    </script>
    

</body>
</html>