<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增牙星公司')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-yxYue-add">
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">员工工号：</label>
                <div class="col-sm-4">
                    <input name="userId" class="form-control" type="text" required   maxlength="7" >
                </div>
                
                <label class="col-sm-2 control-label is-required">员工姓名：</label>
                <div class="col-sm-4">
                    <input name="userName" class="form-control" type="text" required maxlength="30" >
                </div>
            </div>
                
            
         	<div class="form-group">	
				<label class="col-sm-2 control-label is-required">手机号码：</label>
				<div class="col-sm-4">
					<input id="tell" name="tell" class="form-control" type="text"  required maxlength="11" >
				</div>
				
				<label class="col-sm-2 control-label is-required">身份证号：</label>
				<div class="col-sm-4">
					<input id="card" name="card" class="form-control" type="text"  required maxlength="18">
				</div>
			</div>
							
            
         	<div class="form-group">	
				<label class="col-sm-2 control-label is-required">员工性别：</label>
				<div class="col-sm-4">
					<select id="sex" name="sex" class="form-control m-b" required th:with="type=${@dict.getType('sys_user_sex')}">
						<option value="">-请选择-</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
				
				<label class="col-sm-2 control-label is-required" >户籍城市：</label>
				<div class="col-sm-4">
					<input id="address" name="address" class="form-control" type="text"  required maxlength="20">
				</div>
			</div>
            
            
            
                                      
            <div class="form-group">	
				<label class="col-sm-2 control-label">单位：</label>
				<div class="col-sm-4">
					<input  class="form-control" id="userOrg" name="userOrg"  type="text">
				</div>
				
				<label class="col-sm-2 control-label">部门：</label>
				<div class="col-sm-4">
					<input class="form-control" id="userArea" name="userArea" type="text">
				</div>
			</div>
					
					
									
           <div class="form-group">	
				<label class="col-sm-2 control-label">区队：</label>
				<div class="col-sm-4">
					<input class="form-control" id="userGroup" name="userGroup"  type="text">
				</div>
				
				<label class="col-sm-2 control-label">班组：</label>
				<div class="col-sm-4">
					<input class="form-control" id="userClass" name="userClass"  type="text">
				</div>
			</div>
            
    
            <div class="form-group">	
				<label class="col-sm-2 control-label is-required">工作类型：</label>
				<div class="col-sm-4">
					<select id="workType" name="workType" class="form-control m-b" required th:with="type=${@dict.getType('workType')}">
						<option value="">-请选择-</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
				
				<label class="col-sm-2 control-label is-required">工资种类：</label>
				<div class="col-sm-4">
					<select id="workClass" name="workClass" class="form-control m-b" required th:with="type=${@dict.getType('workClass')}">
						<option value="">-请选择-</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
    
						
	        <div class="form-group">	
				<label class="col-sm-2 control-label is-required">岗位：</label>
				<div class="col-sm-4">
					<input id="station" name="station" class="form-control" type="text" required maxlength="20">
				</div>
				
				<label class="col-sm-2 control-label">出勤天数：</label>
				<div class="col-sm-4">
					<input id="countDay" name="countDay" class="form-control" type="text"  maxlength="2">
				</div>
			</div>
	
            <div class="form-group">	
				<label class="col-sm-2 control-label">计件工资：</label>
				<div class="col-sm-4">
					<input id="workSum" name="workSum" class="form-control" type="text"   maxlength="6">
				</div>
				
				<label class="col-sm-2 control-label">零活工资：</label>
				<div class="col-sm-4">
					<input id="workHuo" name="workHuo" class="form-control" type="text"   maxlength="6">
				</div>
			</div>
    
    		
	       <div class="form-group">	
				<label class="col-sm-2 control-label">考核：</label>
				<div class="col-sm-4">
					<input id="check" name="check" class="form-control" type="text"   maxlength="3">
				</div>
				
				<label class="col-sm-2 control-label">煤质考核：</label>
				<div class="col-sm-4">
					<input id="meiCheck" name="meiCheck" class="form-control" type="text"   maxlength="3">
				</div>
			</div>
			
			
		   <div class="form-group">	
				<label class="col-sm-2 control-label">早会：</label>
				<div class="col-sm-4">
					<input id="meeting" name="meeting" class="form-control" type="text"  maxlength="4">
				</div>
				
				<label class="col-sm-2 control-label">年休假天数：</label>
				<div class="col-sm-4">
					<input id="yearsHolidays" name="yearsHolidays" class="form-control" type="text"  maxlength="2">
				</div>
			</div>
			
			
										                                         
	       <div class="form-group">	
				<label class="col-sm-2 control-label">年休假工资：</label>
				<div class="col-sm-4">
					<input id="yearsCost" name="yearsCost" class="form-control" type="text"  maxlength="5">
				</div>
				
				<label class="col-sm-2 control-label">春节休假天数：</label>
				<div class="col-sm-4">
					<input id="yearDay" name="yearDay" class="form-control" type="text"  maxlength="2">
				</div>
			</div>
						
										                                 		 
										                                         
           <div class="form-group">	
				<label class="col-sm-2 control-label">春节休假工资：</label>
				<div class="col-sm-4">
					<input id="yearCost" name="yearCost" class="form-control" type="text"  maxlength="4">
				</div>
				
				<label class="col-sm-2 control-label">春节上班天数：</label>
				<div class="col-sm-4">
					<input id="yearWork" name="yearWork" class="form-control" type="text"  maxlength="2">
				</div>
			</div>
			

			
	        <div class="form-group">	
				<label class="col-sm-2 control-label">春节上班工资：</label>
				<div class="col-sm-4">
					<input id="yearSum" name="yearSum" class="form-control" type="text"  maxlength="4">
				</div>
				
				<label class="col-sm-2 control-label">春节值班天数：</label>
				<div class="col-sm-4">
					<input id="yearPlus" name="yearPlus" class="form-control" type="text"  maxlength="2">
				</div>
			</div>
		
								                                                          
            <div class="form-group">	
				<label class="col-sm-2 control-label">加班工资：</label>
				<div class="col-sm-4">
					<input id="workCost" name="workCost" class="form-control" type="text"  maxlength="5">
				</div>
				
				<label class="col-sm-2 control-label">法定天数：</label>
				<div class="col-sm-4">
					<input id="lawDay" name="lawDay" class="form-control" type="text"  maxlength="2">
				</div>
			</div>
			
			

										    
										    
		   <div class="form-group">	
				<label class="col-sm-2 control-label">法定工资：</label>
				<div class="col-sm-4">
					<input id="lawCost" name="lawCost" class="form-control" type="text"  maxlength="4">
				</div>
				
				<label class="col-sm-2 control-label">公休天数：</label>
				<div class="col-sm-4">
					<input id="busDay" name="busDay" class="form-control" type="text"  maxlength="2">
				</div>
			</div>
			

			
	      <div class="form-group">	
				<label class="col-sm-2 control-label">公休工资：</label>
				<div class="col-sm-4">
					<input id="busCost" name="busCost" class="form-control" type="text"  maxlength="4">
				</div>
				
				<label class="col-sm-2 control-label">延时加班工资：</label>
				<div class="col-sm-4">
					<input id="busPlus" name="busPlus" class="form-control" type="text"  maxlength="5">
				</div>
			</div>
										                                        
			
			
            <div class="form-group">	
				<label class="col-sm-2 control-label">女工费：</label>
				<div class="col-sm-4">
					<input id="woman" name="woman" class="form-control" type="text"  maxlength="4">
				</div>
				
				<label class="col-sm-2 control-label">入井费：</label>
				<div class="col-sm-4">
					<input id="run" name="run" class="form-control" type="text"  maxlength="4">
				</div>
			</div>
										     
   
										                                                        
	       <div class="form-group">	
				<label class="col-sm-2 control-label">夜班补助：</label>
				<div class="col-sm-4">
					<input id="ye" name="ye" class="form-control" type="text"  maxlength="4">
				</div>
				
				<label class="col-sm-2 control-label">矿井处罚：</label>
				<div class="col-sm-4">
					<input id="kuangji" name="kuangji" class="form-control" type="text"  maxlength="5">
				</div>
			</div>
									
			
			
           <div class="form-group">	
				<label class="col-sm-2 control-label">护理假天数：</label>
				<div class="col-sm-4">
					<input id="huliDay" name="huliDay" class="form-control" type="text"  maxlength="2">
				</div>
				
				<label class="col-sm-2 control-label">护理假工资：</label>
				<div class="col-sm-4">
					<input id="huliCost" name="huliCost" class="form-control" type="text"  maxlength="4">
				</div>
			</div>
						
						
			                                                        
										      
           <div class="form-group">		
           		<label class="col-sm-2 control-label">工伤假天数：</label>
				<div class="col-sm-4">
					<input id="gsDay" name="gsDay" class="form-control" type="text"  maxlength="2">
				</div>		
				
				<label class="col-sm-2 control-label">工伤假工资：</label>
				<div class="col-sm-4">
					<input id="gsCost" name="gsCost" class="form-control" type="text"  maxlength="4">
				</div>
			</div>
			
			
				
								
	       <div class="form-group">	
				<label class="col-sm-2 control-label">探亲假天数：</label>
				<div class="col-sm-4">
					<input id="tqDay" name="tqDay" class="form-control" type="text"  maxlength="2">
				</div>
							
	       
				<label class="col-sm-2 control-label">探亲工资：</label>
				<div class="col-sm-4">
					<input id="tqCost" name="tqCost" class="form-control" type="text"  maxlength="4">
				</div>
			</div>
								
		     

		   <div class="form-group">	
		   	    <label class="col-sm-2 control-label">病假天数：</label>
				<div class="col-sm-4">
					<input id="bingDay" name="bingDay" class="form-control" type="text"  maxlength="2">
				</div>		
		   
				<label class="col-sm-2 control-label">病假工资：</label>
				<div class="col-sm-4">
					<input id="bingCost" name="bingCost" class="form-control" type="text"  maxlength="4">
				</div>
			</div>
										                                            
								
										                                                 
            <div class="form-group">	
            	<label class="col-sm-2 control-label">丧假天数：</label>
				<div class="col-sm-4">
					<input id="sangDay" name="sangDay" class="form-control" type="text"  maxlength="2">
				</div>
            
		 		<label class="col-sm-2 control-label">丧假工资：</label>
				<div class="col-sm-4">
					<input id="sangCost" name="sangCost" class="form-control" type="text"  maxlength="4">
				</div>
			</div>
			
										                             
              <div class="form-group">	
              		<label class="col-sm-2 control-label">事假天数：</label>
				<div class="col-sm-4">
					<input id="sjDay" name="sjDay" class="form-control" type="text"  maxlength="2">
				</div>
      
              
				<label class="col-sm-2 control-label">旷工天数：</label>
				<div class="col-sm-4">
					<input id="kgDay" name="kgDay" class="form-control" type="text"  maxlength="2">
				</div>
			</div>
			
			
			
		  <div class="form-group">	
          			<label class="col-sm-2 control-label">待岗天数：</label>
				<div class="col-sm-4">
					<input id="dgDay" name="dgDay" class="form-control" type="text"  maxlength="2">
				</div>	
              
				<label class="col-sm-2 control-label">其它补助：</label>
				<div class="col-sm-4">
					<input id="other" name="other" class="form-control" type="text"  maxlength="5">
				</div>
		 </div>
						
    
    
	     <div class="form-group">	
			<label class="col-sm-2 control-label">创建时间：</label>
			<div class="col-sm-4">
				<input type="text" class="form-control time-input" data-format="yyyy-MM" id="createTime" name="createTime" /> 
			</div>
						
			<label class="col-sm-2 control-label">计算工资：</label>
			<div class="col-sm-4">
				<input id="userCost" name="userCost" class="form-control" type="text"  maxlength="6">
			</div>
		</div>
	
	
	     <div class="form-group">    
	     
             <label class="col-sm-2 control-label">浮动比例：</label>
             <div class="col-sm-4">
                 <input id="fu" name="fu" class="form-control" type="text" maxlength="2">
             </div>
           
             <label class="col-sm-2 control-label">实发工资：</label>
             <div class="col-sm-4">
                 <input id="userMoney" name="userMoney" class="form-control" type="text" maxlength="6">
             </div>
             
         </div>
	
	
	
	   <div class="form-group">	
			<label class="col-sm-2 control-label">备注：</label>
			<div class="col-sm-10">
				<textarea id="remark" name="remark" maxlength="100" class="input-xlarge" rows="3" style="width:100%;border-radius:5px;"></textarea>
			</div>
		</div>
		

     
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/yxYue"

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-yxYue-add').serialize());
            }
        }
        
        $.validator.addMethod("checkMoney",function(value,element,params){
			var checkQQ = /(?!^0*(\.0{1,2})?$)^\d{1,13}(\.\d{1,2})?$/;
			return this.optional(element)||(checkQQ.test(value));
		},"*请输入正确金额（最多保留两位小数）！");
        
        $.validator.addMethod("_checkMoney",function(value,element,params){
        	if(!value.startsWith('-')){
        		return false;
        	}
        	_val = value.substring(1,value.length);
			var checkQQ = /(?!^0*(\.0{1,2})?$)^\d{1,13}(\.\d{1,2})?$/;
			return this.optional(element)||(checkQQ.test(_val));
		},"*请输入负金额（最多保留两位小数）！");
        
        
        $.validator.addMethod("_checkHan",function(value,element,params){
			var checkQQ = /[\u4e00-\u9fa5]/;
			return this.optional(element)||(checkQQ.test(value));
		},"*请输入汉字（最多保留两位小数）！");
        
        
         $(function(){
            var icon = "<i class='fa fa-times-circle'></i> ";
            $("#form-yxYue-add").validate({
                rules: {
                    
                    userId : {
  	      				required : true,
  	      				digits : true
  	      			},
  	      			userName : {
  	      				required : true,
  	      				_checkHan: true
  	      			},
  	      			sex : {
  	      				required : true
  	      			},
  	      			tell : {
  	      				required : true,
  	      				isPhone:true
  	      			},
  	      			card : {
  	      				required : true,
  	      				isIdentity:true
  	      			},
  	      			address : {
  	      				required : true,
  	      				_checkHan: true
  	      			},
  	      			userOrg : {
  	      				required : true
  	      			},
  	      			userArea : {
  	      				required : true
  	      			},
  	      			userGroup : {
  	      				required : true
  	      			},
  	      			userClass : {
  	      				required : true
  	      			},
  	      			station : {
  	      				required : true,
  	      				_checkHan: true
  	      			},
  	      			workType : {
  	      				required : true
  	      			},
  	      		    workClass : {
  	      				required : true
  	      			},
  	      			countDay : {
  	      				required : true,
  	      				digits : true
  	      			},
  	      			workSum : {
  	      				required : true,
  	      				checkMoney: true
  	      			},
  	      			workHuo : {
  	      				required : true,
  	      				checkMoney: true
  	      			},
  	      		     kaohe : {
  	      				checkMoney: true
  	      			},
  	      		     meiKaohe : {
   	      				checkMoney: true
   	      			},
   	      		     meeting : {
	   	      			checkMoney: true
	   	      		},
	   	        	yearsHolidays : {
	   	      			digits : true
	   	      		},
	   	      		yearsCost : {
	   	      			checkMoney: true
	   	      		},
	   	      		yearDay : {
	   	      			digits : true
	   	      		},
	  	      		yearCost : {
	  	      			checkMoney: true
	   	      		},
	   	      		yearWork : {
	   	      			digits : true
	   	      		},
	  	      		yearSum : {
	  	      			checkMoney: true
	   	      		},
	   	      		yearPlus : {
	   	      			digits : true
	   	      		},
	   	      		yearDuty : {
	   	      			checkMoney: true
	   	      		},
	   	      		workPlus : {
	   	      			digits : true
	   	      		},
	   	      		workCost : {
	   	        		checkMoney: true
	   	      		},
	   	      		lawDay : {
	   	      			digits : true
	   	      		},
	   	      		lawCost : {
	   	      		   checkMoney: true
	   	      		},
	   	      		busDay : {
	   	      			digits : true
	   	      		},
	   		      	busCost : {
	   		      		checkMoney: true
	   	      		},
	   	      		busPlus : {
	   	      		    checkMoney: true
	   	      		},
	   	      		woman : {
	   	      	    	checkMoney: true
	   	      		},
	   	      		run : {
	   	      		    checkMoney: true
	   	      		},
	   	      		ye : {
	   	      		    checkMoney: true
	   	      		},
	   	      		kuangji : {
	   	      		   _checkMoney: true
	   	      		},
	   	      		huliDay : {
	   	    			digits:true
	   	      		},
	   	      		huliCost : {
	   	      		    checkMoney: true
	   	      		},
	   	      		gsDay : {
	   	    			digits:true
	   	      		},
	   	      		gsCost : {
	   	      		   checkMoney: true
	   	      		},
	   	      		tqDay : {
	   	    			digits:true
	   	      		},
	   	      		tqCost : {
	   	      		   checkMoney: true
	   	      		},
	   	      		bingDay : {
	   	    			digits:true
	   	      		},
	   	      		bingCost : {
	   	      	    	checkMoney: true
	   	      		},
	   	      		sangDay : {
	   	    			digits:true
	   	      		},
	   	      		sangCost : {
	   	      	    	checkMoney: true
	   	      		},
	   	      		sjDay : {
	   	    			digits:true
	   	      		},
	  	      		kgDay : {
	   	    			digits:true
	   	      		},
		      		dgDay : {
	   	    			digits:true
	   	      		},
	   	      		other : {
	   	      		   checkMoney: true
	   	      		},
	   	      		userCost : {
	   	      		   required : true,
	   	      		  checkMoney: true
	   	      		},
	   	      		fu : {
	   	    			digits:true
	   	      		},
	   	      		userMoney : {
	   	      		   checkMoney: true
	   	      		}

  	      			
                    
                },
                messages: {
                	
      	      		userId : {
      	      			required : icon + "请输入编号！",
      	      			digits : icon + "只能输入整数！"
      	      		},
      	      		userName : {
      	      			required : icon + "请输入姓名！",
      	      			_checkHan : icon + "只能输入汉字！"
      	      		},
      	      		sex : {
      	      			required : icon + "请输选择！"
      	      		},
      	      		tell : {
      	      			required : icon + "请输正确的手机号码！"
      	      		},
      	      		card : {
      	      			required : icon + "请输正确的身份证号码！"
      	      		},
      	      		address : {
      	      			required : icon + "请输户籍所在地！",
      	      		   _checkHan : icon + "只能输入汉字！"
      	      		},
      	      		userOrg : {
      	      			required : icon + "请选择单位！"
      	      		},
      	      		userArea : {
      	      			required : icon + "请选择部门！"
      	      		},
      	      		userGroup : {
      	      			required : icon + "请选择区队！"
      	      		},
      	      		station : {
      	      			required : icon + "请填写岗位！",
      	      		   _checkHan : icon + "只能输入汉字！"
      	      		},
      	      		workType : {
      	      			required : icon + "请填写工作类型！"
      	      		},
      	      		workClass : {
      	      			required : icon + "请填写工资种类！"
      	      		},
  	      			countDay : {
  	      				required : icon + "请填写出勤天数！",
  	      				digits : icon + "请填写整数！"
  	      			},
  	      			workSum : {
  	      				required : icon + "请填写计件工资！",
  	      				checkMoney: icon + "请填写数字！"
  	      			},
  	      			workHuo : {
  	      				required : icon + "请填写零活工资！",
	      				checkMoney: icon + "请填写数字！"
  	      			},
  	      		     kaohe : {
  	      		    	checkMoney: icon + "请填写数字！"
  	      			},
  	      		     meiKaohe : {
  	      		    	checkMoney: icon + "请填写数字！"
   	      			},
   	      		     meeting : {
   	      		   		 checkMoney: icon + "请填写数字！"
	   	      		},
	   	        	yearsHolidays : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	   	      		yearsCost : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		yearDay : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	  	      		yearCost : {
	  	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		yearWork : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	  	      		yearSum : {
	  	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		yearPlus : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	   	      		yearDuty : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		workPlus : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	   	      		workCost : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		lawDay : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	   	      		lawCost : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		busDay : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	   		      	busCost : {
	   		      		checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		busPlus : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		woman : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		run : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		ye : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		kuangji : {
	   	      			_checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		huliDay : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	   	      		huliCost : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		gsDay : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	   	      		gsCost : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		tqDay : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	   	      		tqCost : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		bingDay : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	   	      		bingCost : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		sangDay : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	   	      		sangCost : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		sjDay : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	  	      		kgDay : {
	  	      			digits :  icon + "请填写整数！"
	   	      		},
		      		dgDay : {
		      			digits :  icon + "请填写整数！"
	   	      		},
	   	      		other : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		userCost : {
	   	      		   required : icon + "请填写计算工资！",
	   	      		   checkMoney: icon + "请填写数字！"
	   	      		},
	   	      		fu : {
	   	      			digits :  icon + "请填写整数！"
	   	      		},
	   	      		userMoney : {
	   	      			checkMoney: icon + "请填写数字！"
	   	      		}
      	      		

                }
            }); 
        }) 
    </script>
</body>
</html>