<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增牙星公司人员')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-user-add">
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">员工工号：</label>
                <div class="col-sm-4">
                    <input name="userId" class="form-control" type="text" required   maxlength="7" >
                </div>
                
                <label class="col-sm-2 control-label is-required">员工姓名：</label>
                <div class="col-sm-4">
                    <input name="userName" class="form-control" type="text" required maxlength="10" >
                </div>
            </div>
                
            
         	<div class="form-group">	
				<label class="col-sm-2 control-label is-required">手机号码：</label>
				<div class="col-sm-4">
					<input id="tell" name="tell" class="form-control" type="text"  required maxlength="11" >
				</div>
				
				<label class="col-sm-2 control-label is-required">身份证号：</label>
				<div class="col-sm-4">
					<input id="card" name="card" class="form-control" type="text"  required maxlength="18">
				</div>
			</div>
							
            
         	<div class="form-group">	
				<label class="col-sm-2 control-label is-required">员工性别：</label>
				<div class="col-sm-4">
					<select id="sex" name="sex" class="form-control m-b" required th:with="type=${@dict.getType('sys_user_sex')}">
						<option value="">-请选择-</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
				
				<label class="col-sm-2 control-label is-required" >户籍城市：</label>
				<div class="col-sm-4">
					<input id="address" name="address" class="form-control" type="text"  required maxlength="20">
				</div>
			</div>
            
            
            
                                      
            <div class="form-group">	
				<label class="col-sm-2 control-label">单位：</label>
				<div class="col-sm-4">
			        <input   type="hidden" id="dep_1" readonly="true"/>
                    <input  class="form-control" name="userOrg" type="text" id="depName_1" onclick="selectDeptTree(1)" readonly="true">
				</div>
				
				<label class="col-sm-2 control-label">部门：</label>
				<div class="col-sm-4">
			        <input   type="hidden" id="dep_2" readonly="true"/>
                    <input  class="form-control" name="userArea" type="text" id="depName_2" onclick="selectDeptTree(2,dep_1)" readonly="true">
				</div>
			</div>
           <div class="form-group">	
				<label class="col-sm-2 control-label">区队：</label>
				<div class="col-sm-4">
				    <input type="hidden" id="dep_3"  readonly="true"/>
                    <input  class="form-control"  name="userGroup"   type="text" id="depName_3" onclick="selectDeptTree(3,dep_2)" readonly="true">
				</div>
				
				<label class="col-sm-2 control-label">班组：</label>
				<div class="col-sm-4">
				    <input type="hidden" id="dep_4"  readonly="true"/>
                    <input  class="form-control"  name="userClass" type="text" id="depName_4" onclick="selectDeptTree(4,dep_3)" readonly="true">
				</div>
			</div>
            
    
            <div class="form-group">	
				<label class="col-sm-2 control-label is-required">工作类型：</label>
				<div class="col-sm-4">
					<select id="workType" name="workType" class="form-control m-b" required th:with="type=${@dict.getType('workType')}">
						<option value="">-请选择-</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
				
				<label class="col-sm-2 control-label is-required">工资类型：</label>
				<div class="col-sm-4">
					<select id="workClass" name="workClass" class="form-control m-b" required th:with="type=${@dict.getType('workClass')}">
						<option value="">-请选择-</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
    
						
	        <div class="form-group">	
				<label class="col-sm-2 control-label is-required">岗位：</label>
				<div class="col-sm-4">
					<input id="station" name="station" class="form-control" type="text" required maxlength="20">
				</div>
				
				<label class="col-sm-2 control-label">备注：</label>
				<div class="col-sm-4">
					<textarea id="remark" name="remark" maxlength="100" class="input-xlarge" rows="3" style="width:100%;border-radius:5px;"></textarea>
				</div>
				
			</div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
    
        var prefix = ctx + "system/yx/user"
        
        function selectDeptTree(val,_pid) {
        	console.log(val);
        	var pid = 0;
        	if(_pid){
        		pid=$(_pid).val();
        	}
        	top._pid=pid;
            var options = {
                title: '部门选择',
                width: "380",
                url:"/system/yx/selectDD/selectDeptTree?parentId="+pid,
                callBack: function(index, layero){
                	//val   dep_1   dep_2/dep_3/depName_2/depName_3  clear
                	//val   dep_2   /dep_3/depName_3  clear
                	var tree = layero.find("iframe")[0].contentWindow.$._tree;
                    if ($.tree.notAllowLastLevel(tree)) {
                        var body = layer.getChildFrame('body', index);
                        $("#dep_"+val).val(body.find('#treeId').val());
                        $("#depName_"+val).val(body.find('#treeName').val());
                        layer.close(index);
                    }
                }
            };
            $.modal.openOptions(options);

    }

    function doSubmit(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowLastLevel(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }
        
        
        
        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-user-add').serialize());
            }
        }

        $.validator.addMethod("_checkHan",function(value,element,params){
			var checkQQ = /[\u4e00-\u9fa5]/;
			return this.optional(element)||(checkQQ.test(value));
		},"*请输入正确的汉字！");
        
        $(function(){
            var icon = "<i class='fa fa-times-circle'></i> ";
            $("#form-user-add").validate({
                rules: {
                    
                    userId : {
  	      				required : true,
  	      				digits : true
  	      			},
  	      			userName : {
  	      				required : true,
  	      				_checkHan:true
  	      			},
  	      			sex : {
  	      				required : true
  	      			},
  	      			
  	      			tell : {
  	      				isPhone:true
  	      			},
  	      	
  	      			card : {
  	      				isIdentity:true
  	      			},
  	      			
  	      			address : {
	  	      			required : true,
		      			_checkHan:true
  	      			},


  	      			userOrg : {
  	      				required : true
  	      			},
  	      			
  	      			userArea : {
  	      				required : true
  	      			},
  	      			
  	      			userGroup : {
  	      				required : true
  	      			},
  	      			
  	      			userClass : {
  	      				required : true
  	      			},
  	      			
  	      			station : {
  	      				required : true,
	      				_checkHan:true
  	      			},
 	      			workType : {
  	      				required : true
  	      			},
  	      			
  	      		    workClass : {
  	      				required : true
  	      			}
                    
                    
                },
                messages: {
                	
      	      		userId : {
      	      			required : icon + "请输入编号！",
      	      			digits : icon + "只能输入数字！"
      	      		},
      	      		userName : {
      	      			required : icon + "请输入姓名！",
      	      			_checkHan: icon + "只能输入汉字！"
      	      		},
      	      		
      	      		sex : {
      	      			required : icon + "请输选择性别！"
      	      		},
      	      		
      	      		tell : {
      	      			required : icon + "请输正确的手机号码！"
      	      		},
      	      		card : {
      	      			required : icon + "请输正确的身份证号码！"
      	      		},
      	      		
      	      		address : {
      	      			required : icon + "请输户籍所在地！",
      	      			_checkHan: icon + "只能输入汉字！"
      	      		},

      	      		userOrg : {
      	      			required : icon + "请选择单位！"
      	      		},
      	      		
      	      		userArea : {
      	      			required : icon + "请选择部门！"
      	      		},
      	      		
      	      		userGroup : {
      	      			required : icon + "请选择区队！"
      	      		},
      	      		
      	      		station : {
      	      			required : icon + "请填写岗位！",
      	      			_checkHan: icon + "只能输入汉字！"
      	      		},
      	      		workType : {
      	      			required : icon + "请填写工作类型！"
      	      		},
      	      		workClass : {
      	      			required : icon + "请填写工资种类！"
      	      		}
      	      		
                }
            }); 
        })
    </script>
</body>
</html>