<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增牙星公司')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-all-add">
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">员工工号：</label>
                <div class="col-sm-4">
                    <input name="userId" class="form-control" type="text" required   maxlength="7" >
                </div>
                
            </div>
                         
            <div class="form-group">	
				<label class="col-sm-2 control-label is-required">工作类型：</label>
				<div class="col-sm-4">
					<select id="workType" name="workType" class="form-control m-b" required th:with="type=${@dict.getType('workType')}">
						<option value="">-请选择-</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
				
				<label class="col-sm-2 control-label is-required">工资种类：</label>
				<div class="col-sm-4">
					<select id="workClass" name="workClass" class="form-control m-b" required th:with="type=${@dict.getType('workClass')}">
						<option value="">-请选择-</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
            
         	<div class="form-group">	
				<label class="col-sm-2 control-label is-required">应出勤天数：</label>
				<div class="col-sm-4">
					<input id="countDay" name="countDay" class="form-control" type="text"  required maxlength="2" >
				</div>
				
				<label class="col-sm-2 control-label is-required">满勤工资：</label>
				<div class="col-sm-4">
					<input id="countMoney" name="countMoney" class="form-control" type="text"  required maxlength="10">
				</div>
			</div>
							
            
         	<div class="form-group">	
				<label class="col-sm-2 control-label is-required">请假天数：</label>
				<div class="col-sm-4">
					<input id="sumDay" name="sumDay" class="form-control" type="text"  required maxlength="2" >
				</div>
				
				<label class="col-sm-2 control-label is-required" >扣除工资：</label>
				<div class="col-sm-4">
					<input id="sumMoney" name="sumMoney" class="form-control" type="text"  required maxlength="10">
				</div>
			</div>
            
            
          	<div class="form-group">	
				<label class="col-sm-2 control-label is-required">实际出勤：</label>
				<div class="col-sm-4">
					<input id="allDay" name="allDay" class="form-control" type="text"  required maxlength="2" >
				</div>
				
				<label class="col-sm-2 control-label is-required" >加班天数：</label>
				<div class="col-sm-4">
					<input id="workDay" name="workDay" class="form-control" type="text"  required maxlength="2">
				</div>
			</div>          
			
			
			 <div class="form-group">	
				<label class="col-sm-2 control-label is-required">加班工资：</label>
				<div class="col-sm-4">
					<input id="workCost" name="workCost" class="form-control" type="text"  required maxlength="2" >
				</div>
				
				<label class="col-sm-2 control-label is-required">其他补助：</label>
				<div class="col-sm-4">
					<input id="other" name="other" class="form-control" type="text"  required maxlength="2">
				</div>
			</div>     

			 <div class="form-group">	
				<label class="col-sm-2 control-label is-required">计算工资：</label>
				<div class="col-sm-4">
					<input id="userCost" name="userCost" class="form-control" type="text"  required maxlength="2" >
				</div>
				
				<label class="col-sm-2 control-label is-required">浮动比：</label>
				<div class="col-sm-4">
					<input id="fu" name="fu" class="form-control" type="text"  required maxlength="2">
				</div>
			</div>     


    
			 <div class="form-group">	
				<label class="col-sm-2 control-label is-required">创建时间：</label>
				<div class="col-sm-4">
				      <input readonly="true" type="text" class="time-input" data-format="yyyy-MM"  id="createTime" name="createTime" />
				</div>
				
			</div>  
    
						
	        <div class="form-group">	
				<label class="col-sm-2 control-label is-required">实发工资：</label>
				<div class="col-sm-4">
					<input id="userMoney" name="userMoney" class="form-control" type="text" required maxlength="10">
				</div>
				
				<label class="col-sm-2 control-label">备注：</label>
				<div class="col-sm-4">
					<textarea id="remark" name="remark" maxlength="100" class="input-xlarge" rows="3" style="width:100%;border-radius:5px;"></textarea>
				</div>
				
			</div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/all"

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-all-add').serialize());
            }
        }
        
        $.validator.addMethod("_checkHan",function(value,element,params){
			var checkQQ = /[\u4e00-\u9fa5]/;
			return this.optional(element)||(checkQQ.test(value));
		},"*请输入正确的汉字！");
        
       /*  $(function(){
            var icon = "<i class='fa fa-times-circle'></i> ";
            $("#form-user-add").validate({
                rules: {
                    
                    userId : {
  	      				required : true,
  	      				digits : true
  	      			},
  	      			userName : {
  	      				required : true,
  	      				_checkHan:true
  	      			},
  	      			sex : {
  	      				required : true
  	      			},
  	      			
  	      			tell : {
  	      				isPhone:true
  	      			},
  	      	
  	      			card : {
  	      				isIdentity:true
  	      			},
  	      			
  	      			address : {
	  	      			required : true,
		      			_checkHan:true
  	      			},


  	      			userOrg : {
  	      				required : true
  	      			},
  	      			
  	      			userArea : {
  	      				required : true
  	      			},
  	      			
  	      			userGroup : {
  	      				required : true
  	      			},
  	      			
  	      			userClass : {
  	      				required : true
  	      			},
  	      			
  	      			station : {
  	      				required : true,
	      				_checkHan:true
  	      			},
 	      			workType : {
  	      				required : true
  	      			},
  	      			
  	      		    workClass : {
  	      				required : true
  	      			},
  	      			countDay : {
  	      				required : true
  	      			},
  	      			countMoney : {
  	      				required : true
  	      			},
  	      			sumDay : {
  	      				required : true
  	      			},
  	      			sumMoney : {
  	      				required : true
  	      			},
  	      			allDay : {
  	      				required : true
  	      			},
  	      			workPlus : {
  	      				required : true
  	      			},
  	      			workCost : {
  	      				required : true
  	      			},
  	   				hu : {
	      				required : true
	      			},
  	   				userMoney : {
	      				required : true
	      			}

                    
                },
                messages: {
                	
      	      		userId : {
      	      			required : icon + "请输入编号！",
      	      			digits : icon + "只能输入数字！"
      	      		},
      	      		userName : {
      	      			required : icon + "请输入姓名！",
      	      			_checkHan: icon + "只能输入汉字！"
      	      		},
      	      		
      	      		sex : {
      	      			required : icon + "请输选择性别！"
      	      		},
      	      		
      	      		tell : {
      	      			required : icon + "请输正确的手机号码！"
      	      		},
      	      		card : {
      	      			required : icon + "请输正确的身份证号码！"
      	      		},
      	      		
      	      		address : {
      	      			required : icon + "请输户籍所在地！",
      	      			_checkHan: icon + "只能输入汉字！"
      	      		},

      	      		userOrg : {
      	      			required : icon + "请选择单位！"
      	      		},
      	      		
      	      		userArea : {
      	      			required : icon + "请选择部门！"
      	      		},
      	      		
      	      		userGroup : {
      	      			required : icon + "请选择区队！"
      	      		},
      	      		
      	      		station : {
      	      			required : icon + "请填写岗位！",
      	      			_checkHan: icon + "只能输入汉字！"
      	      		},
      	      		workType : {
      	      			required : icon + "请填写工作类型！"
      	      		},
      	      		workClass : {
      	      			required : icon + "请填写工资种类！"
      	      		},
  	      			countDay : {
  	      				required : icon + "请填写工资种类！"
  	      			},
  	      			countMoney : {
  	      				required : icon + "请填写工资种类！"
  	      			},
  	      			sumDay : {
  	      				required : icon + "请填写工资种类！"
  	      			},
  	      			sumMoney : {
  	      				required : icon + "请填写工资种类！"
  	      			},
  	      			allDay : {
  	      				required : icon + "请填写工资种类！"
  	      			},
  	      			workPlus : {
  	      				required : icon + "请填写工资种类！"
  	      			},
  	      			workCost : {
  	      				required : icon + "请填写工资种类！"
  	      			},
  	   				hu : {
  	   					required : icon + "请填写工资种类！"
	      			},
  	   				userMoney : {
  	   					required : icon + "请填写工资种类！"
	      			}
      	      		
                }
            }); 
        }) */
    </script>
</body>
</html>