<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.yx.mapper.charDDMapper">

	    <sql id="selectYxDayCount">
	        select	ifnull(count(DISTINCT(id)),0)  from yx_day as YxDay
	        left join sys_dept sd on (sd.dept_name = YxDay.user_org or sd.dept_name = YxDay.user_area or sd.dept_name = YxDay.user_group or sd.dept_name = YxDay.user_class)
	    </sql>

	    <sql id="selectYxDaySum">
	        select ifnull(sum(DISTINCT(user_cost)),0) from yx_day as YxDay
	        left join sys_dept sd on (sd.dept_name = YxDay.user_org or sd.dept_name = YxDay.user_area or sd.dept_name = YxDay.user_group or sd.dept_name = YxDay.user_class)
	    </sql>
	    
		<sql id="query_Count_sql_where">
	            <if test="userOrg != null  and userOrg != ''"> and (sd.dept_id = #{userOrg} or sd.ancestors like concat('%',#{userOrg},'%'))</if>
	            <if test="userArea != null  and userArea != ''"> and user_area = #{userArea}</if>
	            <if test="userGroup != null  and userGroup != ''"> and user_group = #{userGroup}</if>
	            <if test="userClass != null  and userClass != ''"> and user_class = #{userClass}</if>
	            <if test="createTime != null  and createTime != ''">and YxDay.create_time = #{createTime}</if>
		</sql>
	
    

<!-- workClass -->

	<select id="YxCountWorkClass1"  resultType="int">
	 <include refid="selectYxDayCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	<select id="YxSumWorkClass1"  resultType="java.math.BigDecimal">
		<include refid="selectYxDaySum"></include>			
		<where>
			work_class = "一线工资"
	    	<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	
	
	<select id="YxCountWorkClass2"  resultType="int">
		<include refid="selectYxDayCount"></include>	
		<where>
			work_class = "二线工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	<select id="YxSumWorkClass2"  resultType="java.math.BigDecimal">
		<include refid="selectYxDaySum"></include>		
		<where>
			work_class = "二线工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	
	
	<select id="YxCountWorkClass3"  resultType="int">
		<include refid="selectYxDayCount"></include>
		<where>
			work_class = '三线工资'
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	<select id="YxSumWorkClass3"  resultType="java.math.BigDecimal">
		<include refid="selectYxDaySum"></include>	
		<where>
			work_class = '三线工资'
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
<!-- workType -->

</mapper>