<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.yx.mapper.charMMMapper">

	    <sql id="selectYxYueCount">
	        select ifnull(count(DISTINCT(id)),0)  from yx_Yue as YxYue
	        left join sys_dept sd on (sd.dept_name = YxYue.user_org or sd.dept_name = YxYue.user_area or sd.dept_name = YxYue.user_group or sd.dept_name = YxYue.user_class)
	    </sql>

	    <sql id="selectYxYueSum">
	        select ifnull(sum(DISTINCT(user_cost)),0) from yx_Yue as YxYue
	        left join sys_dept sd on (sd.dept_name = YxYue.user_org or sd.dept_name = YxYue.user_area or sd.dept_name = YxYue.user_group or sd.dept_name = YxYue.user_class)
	    </sql>


		<sql id="query_Count_sql_where">
	            <if test="userOrg != null  and userOrg != ''"> and (sd.dept_id = #{userOrg} or sd.ancestors like concat('%',#{userOrg},'%'))</if>
	            <if test="userArea != null  and userArea != ''"> and user_area = #{userArea}</if>
	            <if test="userGroup != null  and userGroup != ''"> and user_group = #{userGroup}</if>
	            <if test="userClass != null  and userClass != ''"> and user_class = #{userClass}</if>
	            <if test="createTime != null  and createTime != ''">and YxYue.create_time = #{createTime}</if>
		</sql>
	
    
<!-- workType -->

	<select id="YxYueCountWorkType1"  resultType="int">
	   <include refid="selectYxYueCount"></include>
		<where>
			work_type = "计件工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	<select id="YxYueSumWorkType1"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_type = "计件工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	
	<select id="YxYueCountWorkType2"  resultType="int">
	   <include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	<select id="YxYueSumWorkType2"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	
<!-- workType -->



<!-- workClass -->

	<select id="YxYueCountWorkClass1"  resultType="int">
	   <include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	<select id="YxYueSumWorkClass1"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>



	<select id="YxYueCountWorkClass2"  resultType="int">
	   <include refid="selectYxYueCount"></include>
		<where>
			work_class = "二线工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	<select id="YxYueSumWorkClass2"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_class = "二线工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	

	<select id="YxYueCountWorkClass3"  resultType="int">
	   <include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	<select id="YxYueSumWorkClass3"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	
<!-- workType -->

</mapper>