<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.yx.mapper.charMapper">
    
		<sql id="selectYxYueCount">
	        select ifnull(count(DISTINCT(id)),0) from yx_Yue as YxYue
	        left join sys_dept sd on (sd.dept_name = YxYue.user_org or sd.dept_name = YxYue.user_area or sd.dept_name = YxYue.user_group or sd.dept_name = YxYue.user_class)
	    </sql>

	    <sql id="selectYxYueSum">
	        select ifnull(sum(DISTINCT(user_cost)),0) from yx_Yue as YxYue
	        left join sys_dept sd on (sd.dept_name = YxYue.user_org or sd.dept_name = YxYue.user_area or sd.dept_name = YxYue.user_group or sd.dept_name = YxYue.user_class)
	    </sql>


		<sql id="query_Count_sql_where">
	            <if test="userOrg != null  and userOrg != ''"> and (sd.dept_id = #{userOrg} or sd.ancestors like concat('%',#{userOrg},'%'))</if>
	            <if test="userArea != null  and userArea != ''"> and user_area = #{userArea}</if>
	            <if test="userGroup != null  and userGroup != ''"> and user_group = #{userGroup}</if>
	            <if test="userClass != null  and userClass != ''"> and user_class = #{userClass}</if>
		</sql>

	
	
    
<!-- workType111111 -->
	<select id="YxCountWorkType1yue1"  resultType="int">
	 <include refid="selectYxYueCount"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-01")</if>
		</where>
	</select>
	
	<select id="YxSumWorkType1yue1"  resultType="java.math.BigDecimal">
	<include refid="selectYxYueSum"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-01")</if>
		</where>
	</select>
	
	<select id="YxCountWorkType1yue2"  resultType="int">
		 <include refid="selectYxYueCount"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-02")</if>
		</where>
	</select>
	<select id="YxSumWorkType1yue2"  resultType="java.math.BigDecimal">
	 <include refid="selectYxYueSum"></include>	
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-02")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkType1yue3"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-03")</if>
		</where>
	</select>
	<select id="YxSumWorkType1yue3"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>	
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-03")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkType1yue4"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-04")</if>
		</where>
	</select>
	<select id="YxSumWorkType1yue4"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>	
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-04")</if>
		</where>
	</select>
	
	<select id="YxCountWorkType1yue5"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-05")</if>
		</where>
	</select>
	<select id="YxSumWorkType1yue5"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-05")</if>
		</where>
	</select>
	
	<select id="YxCountWorkType1yue6"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-06")</if>
		</where>
	</select>
	
	<select id="YxSumWorkType1yue6"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>	
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-06")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkType1yue7"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-07")</if>
		</where>
	</select>
	<select id="YxSumWorkType1yue7"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-07")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkType1yue8"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-08")</if>
		</where>
	</select>
	<select id="YxSumWorkType1yue8"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>	
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-08")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkType1yue9"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-09")</if>
		</where>
	</select>
	<select id="YxSumWorkType1yue9"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>	
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-09")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkType1yue10"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-10")</if>
		</where>
	</select>
	<select id="YxSumWorkType1yue10"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>	
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-10")</if>
		</where>
	</select>
	
	<select id="YxCountWorkType1yue11"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-11")</if>
		</where>
	</select>
	<select id="YxSumWorkType1yue11"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-11")</if>
		</where>
	</select>
	
	<select id="YxCountWorkType1yue12"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-12")</if>
		</where>
	</select>
	<select id="YxSumWorkType1yue12"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_class ="计件工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-12")</if>
		</where>
	</select>
	
<!-- workType111111 -->	
	
	
	
	

<!-- workType22222222 -->
	<select id="YxCountWorkType2yue1"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-01")</if>
		</where>
	</select>
	<select id="YxSumWorkType2yue1"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-01")</if>
		</where>
	</select>
	
	<select id="YxCountWorkType2yue2"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-02")</if>
		</where>
	</select>
	<select id="YxSumWorkType2yue2"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>	
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-02")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkType2yue3"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-03")</if>
		</where>
	</select>
	<select id="YxSumWorkType2yue3"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-03")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkType2yue4"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-04")</if>
		</where>
	</select>
	<select id="YxSumWorkType2yue4"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>	
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-04")</if>
		</where>
	</select>
	
	<select id="YxCountWorkType2yue5"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-05")</if>
		</where>
	</select>
	<select id="YxSumWorkType2yue5"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-05")</if>
		</where>
	</select>
	
	<select id="YxCountWorkType2yue6"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-06")</if>
		</where>
	</select>
	
	<select id="YxSumWorkType2yue6"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-06")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkType2yue7"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-07")</if>
		</where>
	</select>
	<select id="YxSumWorkType2yue7"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>	
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-07")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkType2yue8"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-08")</if>
		</where>
	</select>
	<select id="YxSumWorkType2yue8"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>	
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-08")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkType2yue9"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-09")</if>
		</where>
	</select>
	<select id="YxSumWorkType2yue9"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>	
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-09")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkType2yue10"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-10")</if>
		</where>
	</select>
	<select id="YxSumWorkType2yue10"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-10")</if>
		</where>
	</select>
	
	<select id="YxCountWorkType2yue11"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-11")</if>
		</where>
	</select>
	<select id="YxSumWorkType2yue11"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-11")</if>
		</where>
	</select>
	
	<select id="YxCountWorkType2yue12"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-12")</if>
		</where>
	</select>
	<select id="YxSumWorkType2yue12"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_type = "月薪工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-12")</if>
		</where>
	</select>
	
<!-- workType222222 -->	



























  
<!-- workClass111111 -->
	<select id="YxCountWorkClass1yue1"  resultType="int">
	   <include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-01")</if>
		</where>
	</select>
	<select id="YxSumWorkClass1yue1"  resultType="java.math.BigDecimal">
	   <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-01")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass1yue2"  resultType="int">
	   <include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-02")</if>
		</where>
	</select>
	<select id="YxSumWorkClass1yue2"  resultType="java.math.BigDecimal">
	   <include refid="selectYxYueSum"></include>	
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-02")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass1yue3"  resultType="int">
	    <include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-03")</if>
		</where>
	</select>
	<select id="YxSumWorkClass1yue3"  resultType="java.math.BigDecimal">
	   <include refid="selectYxYueSum"></include>	
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-03")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass1yue4"  resultType="int">
	    <include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-04")</if>
		</where>
	</select>
	<select id="YxSumWorkClass1yue4"  resultType="java.math.BigDecimal">
        <include refid="selectYxYueSum"></include>	
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-04")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass1yue5"  resultType="int">
		 <include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-05")</if>
		</where>
	</select>
	<select id="YxSumWorkClass1yue5"  resultType="java.math.BigDecimal">
	     <include refid="selectYxYueSum"></include>	
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-05")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass1yue6"  resultType="int">
        <include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-06")</if>
		</where>
	</select>
	
	<select id="YxSumWorkClass1yue6"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-06")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass1yue7"  resultType="int">
	  <include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-07")</if>
		</where>
	</select>
	<select id="YxSumWorkClass1yue7"  resultType="java.math.BigDecimal">
	  <include refid="selectYxYueSum"></include>	
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-07")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass1yue8"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-08")</if>
		</where>
	</select>
	<select id="YxSumWorkClass1yue8"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-08")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass1yue9"  resultType="int">
	   <include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-09")</if>
		</where>
	</select>
	<select id="YxSumWorkClass1yue9"  resultType="java.math.BigDecimal">
	   <include refid="selectYxYueSum"></include>	
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-09")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass1yue10"  resultType="int">
	    <include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-10")</if>
		</where>
	</select>
	<select id="YxSumWorkClass1yue10"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>	
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-10")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass1yue11"  resultType="int">
	  <include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-11")</if>
		</where>
	</select>
	<select id="YxSumWorkClass1yue11"  resultType="java.math.BigDecimal">
	   <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-11")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass1yue12"  resultType="int">
	    <include refid="selectYxYueCount"></include>
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-12")</if>
		</where>
	</select>
	<select id="YxSumWorkClass1yue12"  resultType="java.math.BigDecimal">
	    <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "一线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-12")</if>
		</where>
	</select>
	
<!-- workClass111111 -->	
	
	
	

<!-- workClass22222222 -->
	<select id="YxCountWorkClass2yue1"  resultType="int">
	    <include refid="selectYxYueCount"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-01")</if>
		</where>
	</select>
	<select id="YxSumWorkClass2yue1"  resultType="java.math.BigDecimal">
	    <include refid="selectYxYueSum"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-01")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass2yue2"  resultType="int">
	   <include refid="selectYxYueCount"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-02")</if>
		</where>
	</select>
	<select id="YxSumWorkClass2yue2"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>		
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-02")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass2yue3"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-03")</if>
		</where>
	</select>
	<select id="YxSumWorkClass2yue3"  resultType="java.math.BigDecimal">
	    <include refid="selectYxYueSum"></include>	
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-03")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass2yue4"  resultType="int">
	   <include refid="selectYxYueCount"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-04")</if>
		</where>
	</select>
	<select id="YxSumWorkClass2yue4"  resultType="java.math.BigDecimal">
		<include refid="selectYxYueSum"></include>	
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-04")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass2yue5"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-05")</if>
		</where>
	</select>
	<select id="YxSumWorkClass2yue5"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>		
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-05")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass2yue6"  resultType="int">
		 <include refid="selectYxYueCount"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-06")</if>
		</where>
	</select>
	
	<select id="YxSumWorkClass2yue6"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>		
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-06")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass2yue7"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-07")</if>
		</where>
	</select>
	<select id="YxSumWorkClass2yue7"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>	
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-07")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass2yue8"  resultType="int">
	   <include refid="selectYxYueCount"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-08")</if>
		</where>
	</select>
	<select id="YxSumWorkClass2yue8"  resultType="java.math.BigDecimal">
	   <include refid="selectYxYueSum"></include>		
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-08")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass2yue9"  resultType="int">
		 <include refid="selectYxYueCount"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-09")</if>
		</where>
	</select>
	<select id="YxSumWorkClass2yue9"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>		
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-09")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass2yue10"  resultType="int">
		 <include refid="selectYxYueCount"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-10")</if>
		</where>
	</select>
	<select id="YxSumWorkClass2yue10"  resultType="java.math.BigDecimal">
      <include refid="selectYxYueSum"></include>		
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-10")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass2yue11"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-11")</if>
		</where>
	</select>
	<select id="YxSumWorkClass2yue11"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>		
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-11")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass2yue12"  resultType="int">
	    <include refid="selectYxYueCount"></include>
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-12")</if>
		</where>
	</select>
	<select id="YxSumWorkClass2yue12"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>	
		<where>
			work_class  = "二线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-12")</if>
		</where>
	</select>
	
<!-- workClass222222 -->	




<!-- workClass33333 -->
	<select id="YxCountWorkClass3yue1"  resultType="int">
	    <include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-01")</if>
		</where>
	</select>
	<select id="YxSumWorkClass3yue1"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-01")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass3yue2"  resultType="int">
	 <include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-02")</if>
		</where>
	</select>
	<select id="YxSumWorkClass3yue2"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-02")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass3yue3"  resultType="int">
	    <include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-03")</if>
		</where>
	</select>
	<select id="YxSumWorkClass3yue3"  resultType="java.math.BigDecimal">
	    <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-03")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass3yue4"  resultType="int">
	    <include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-04")</if>
		</where>
	</select>
	<select id="YxSumWorkClass3yue4"  resultType="java.math.BigDecimal">
	    <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-04")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass3yue5"  resultType="int">
		<include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-05")</if>
		</where>
	</select>
	<select id="YxSumWorkClass3yue5"  resultType="java.math.BigDecimal">
	    <include refid="selectYxYueSum"></include>	
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-05")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass3yue6"  resultType="int">
	    <include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-06")</if>
		</where>
	</select>
	
	<select id="YxSumWorkClass3yue6"  resultType="java.math.BigDecimal">
	    <include refid="selectYxYueSum"></include>	
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-06")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass3yue7"  resultType="int">
		 <include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-07")</if>
		</where>
	</select>
	<select id="YxSumWorkClass3yue7"  resultType="java.math.BigDecimal">
	  <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-07")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass3yue8"  resultType="int">
		 <include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-08")</if>
		</where>
	</select>
	<select id="YxSumWorkClass3yue8"  resultType="java.math.BigDecimal">
		  <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-08")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass3yue9"  resultType="int">
		 <include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-09")</if>
		</where>
	</select>
	<select id="YxSumWorkClass3yue9"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>	
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-09")</if>
		</where>
	</select>
	
	
	<select id="YxCountWorkClass3yue10"  resultType="int">
		 <include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-10")</if>
		</where>
	</select>
	<select id="YxSumWorkClass3yue10"  resultType="java.math.BigDecimal">
		 <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-10")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass3yue11"  resultType="int">
	    <include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-11")</if>
		</where>
	</select>
	<select id="YxSumWorkClass3yue11"  resultType="java.math.BigDecimal">
	    <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-11")</if>
		</where>
	</select>
	
	<select id="YxCountWorkClass3yue12"  resultType="int">
	    <include refid="selectYxYueCount"></include>
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-12")</if>
		</where>
	</select>
	<select id="YxSumWorkClass3yue12"  resultType="java.math.BigDecimal">
		  <include refid="selectYxYueSum"></include>		
		<where>
			work_class = "三线工资"
			<include refid="query_Count_sql_where"></include>
			<if test="createTime != null and createTime != ''"> and  `create_time` like  CONCAT("${createTime}","-12")</if>
		</where>
	</select>
	
<!-- workClass3333333 -->	

</mapper>