<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.yx.mapper.YxDayMapper">
    
    <resultMap type="YxDay" id="YxDayResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="sex"    column="sex"    />
        <result property="tell"    column="tell"    />
        <result property="card"    column="card"    />
        <result property="address"    column="address"    />
        <result property="userOrg"    column="user_org"    />
        <result property="userArea"    column="user_area"    />
        <result property="userGroup"    column="user_group"    />
        <result property="userClass"    column="user_class"    />
        <result property="station"    column="station"    />
        <result property="workType"    column="work_type"    />
        <result property="workClass"    column="work_class"    />
        <result property="workStart"    column="work_start"    />
        <result property="workNumber"    column="work_number"    />
        <result property="workPrice"    column="work_price"    />
        <result property="workAll"    column="work_all"    />
        <result property="workFen"    column="work_fen"    />
        <result property="workSum"    column="work_sum"    />
        <result property="workHuo"    column="work_huo"    />
        <result property="workDan"    column="work_dan"    />
        <result property="userCost"    column="user_cost"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>



    <sql id="selectYxVo">
        select distinct(id), user_id, user_name, sex, tell, card, address, user_org, user_area, user_group, user_class, station, 
        work_type, work_class, work_start, work_number, work_price, work_all, work_fen, work_sum, work_huo, work_dan,user_cost,
        YxDay.create_time, YxDay.create_by,YxDay.update_time,YxDay.update_by, remark from yx_day as YxDay
        left join sys_dept sd on (sd.dept_name = YxDay.user_org or sd.dept_name = YxDay.user_area or sd.dept_name = YxDay.user_group or sd.dept_name = YxDay.user_class)
    </sql>



    <select id="selectYxKHList" parameterType="YxDay" resultMap="YxDayResult">
    
    select user_id, user_name, sex, tell, card,address,user_org, user_area, user_group, user_class, station, work_type, work_class,LEFT(create_time,7) AS create_time,COUNT(*) as count_day,work_start,sum(work_sum) as work_sum ,sum(work_huo) as work_huo,sum(work_dan) as work_dan,
		sum(work_sum) + sum(work_huo) + sum(work_dan)  AS user_cost
		from  yx_day   

        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="userOrg != null  and userOrg != ''"> and (sd.dept_id = #{userOrg} or sd.ancestors like concat('%',#{userOrg},'%'))</if>
            <if test="userArea != null  and userArea != ''"> and user_area = #{userArea}</if>
            <if test="userGroup != null  and userGroup != ''"> and user_group = #{userGroup}</if>
            <if test="userClass != null  and userClass != ''"> and user_class = #{userClass}</if>
            <if test="workType != null  and workType != ''"> and work_type = #{workType}</if>
            <if test="workClass != null  and workClass != ''"> and work_class = #{workClass}</if>
            <if test="createTime != null  and createTime != ''">and create_time like  concat('%',#{createTime},'%')</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%',#{userName},'%')</if>
            <if test="workStart != null  and workStart != ''"> and work_start = #{workStart}</if>
         <!--   <if test="createTime != null  and createTime != ''">and YxDay.create_time like '2020-04' </if> -->
           
        </where>
        
         group by  user_id, user_name, sex, tell, card,address,user_org, user_area, user_group, user_class, station, work_type, work_class, work_start,LEFT(create_time,7) having work_start = 1
         

</select>       
    
    
    
    <select id="selectYxDayList" parameterType="YxDay" resultMap="YxDayResult">
        <include refid="selectYxVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="userOrg != null  and userOrg != ''"> and (sd.dept_id = #{userOrg} or sd.ancestors like concat('%',#{userOrg},'%'))</if>
            <if test="userGroup != null  and userGroup != ''"> and user_group = #{userGroup}</if>
            <if test="userClass != null  and userClass != ''"> and user_class = #{userClass}</if>
            <if test="workType != null  and workType != ''"> and work_type = #{workType}</if>
            <if test="workClass != null  and workClass != ''"> and work_class = #{workClass}</if>
            <if test="workStart != null">   and work_start = #{workStart} </if>
            <if test="createTime != null  and createTime != ''">and YxDay.create_time like concat('%',#{createTime},'%')</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%',#{userName},'%')</if>
        </where>
    </select>
    
    
    
    <select id="selectCountMMList" parameterType="YxDay" resultMap="YxDayResult">
        <include refid="selectYxVo"/>
        <where>  
	            <if test="userOrg != null  and userOrg != ''"> and (sd.dept_id = #{userOrg} or sd.ancestors like concat('%',#{userOrg},'%'))</if>
	            <if test="userArea != null  and userArea != ''"> and user_area = #{userArea}</if>
	            <if test="userGroup != null  and userGroup != ''"> and user_group = #{userGroup}</if>
	            <if test="userClass != null  and userClass != ''"> and user_class = #{userClass}</if>
	            <if test="createTime != null  and createTime != ''">and YxDay.create_time  &lt;= #{createTime} and YxDay.create_time  &gt;= #{updateBy}	</if>
        </where>
    </select>
    
    <select id="selectYxDayById" parameterType="Long" resultMap="YxDayResult">
        <include refid="selectYxVo"/>
        where id = #{id}
    </select>
    
    
    <select id="findUserOrgExize" resultType="String">
    
       select
          YxUser.user_id,
          YxUser.user_name,
          YxUser.work_type
       from 
          yx_user AS YxUser
          left join sys_dept sd on (sd.dept_name = YxUser.user_org or sd.dept_name = YxUser.user_area or sd.dept_name = YxUser.user_group or sd.dept_name = YxUser.user_class)   
       where
          sd.dept_id = #{userOrg}
          and YxUser.user_id = #{userId}
          and YxUser.user_name = #{userName}
          and YxUser.work_type = "计件工资"
          
          limit 1        
    </select>
    
    <select id="selectYx" resultType="java.util.Map">
       select 
           sex AS "sex",
           tell AS "tell",
           card AS "card",
           address AS "address",
           user_org AS "userOrg",
           user_area AS "userArea",
           user_group AS "userGroup",
           user_class AS "userClass",
           station AS "station",
           work_type AS "workType",
           work_class AS "workClass"
       from 
           yx_user
       where
           user_id = #{userId} 
           limit 1        
    </select>
    





    <insert id="insertYxDay" parameterType="YxDay" useGeneratedKeys="true" keyProperty="id">
        insert into yx_day
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="sex != null  and sex != ''">sex,</if>
            <if test="tell != null  and tell != ''">tell,</if>
            <if test="card != null  and card != ''">card,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="userOrg != null  and userOrg != ''">user_org,</if>
            <if test="userArea != null  and userArea != ''">user_area,</if>
            <if test="userGroup != null  and userGroup != ''">user_group,</if>
            <if test="userClass != null  and userClass != ''">user_class,</if>
            <if test="station != null  and station != ''">station,</if>
            <if test="workType != null  and workType != ''">work_type,</if>
            <if test="workClass != null  and workClass != ''">work_class,</if>
            <if test="workStart != null ">work_start,</if>
            <if test="workNumber != null ">work_number,</if>
            <if test="workPrice != null ">work_price,</if>
            <if test="workAll != null ">work_all,</if>
            <if test="workFen != null ">work_fen,</if>
            <if test="workSum != null ">work_sum,</if>
            <if test="workHuo != null ">work_huo,</if>
            <if test="workDan != null ">work_dan,</if>
            <if test="userCost != null ">user_cost,</if>
            <if test="createTime != null  and createTime != ''">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="sex != null  and sex != ''">#{sex},</if>
            <if test="tell != null  and tell != ''">#{tell},</if>
            <if test="card != null  and card != ''">#{card},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="userOrg != null  and userOrg != ''">#{userOrg},</if>
            <if test="userArea != null  and userArea != ''">#{userArea},</if>
            <if test="userGroup != null  and userGroup != ''">#{userGroup},</if>
            <if test="userClass != null  and userClass != ''">#{userClass},</if>
            <if test="station != null  and station != ''">#{station},</if>
            <if test="workType != null  and workType != ''">#{workType},</if>
            <if test="workClass != null  and workClass != ''">#{workClass},</if>
            <if test="workStart != null ">#{workStart},</if>
            <if test="workNumber != null ">#{workNumber},</if>
            <if test="workPrice != null ">#{workPrice},</if>
            <if test="workAll != null ">#{workAll},</if>
            <if test="workFen != null ">#{workFen},</if>
            <if test="workSum != null ">#{workSum},</if>
            <if test="workHuo != null ">#{workHuo},</if>
            <if test="workDan != null ">#{workDan},</if>
            <if test="userCost != null ">#{userCost},</if>
            <if test="createTime != null  and createTime != ''">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>



    <insert id="insertYxUpload" parameterType="YxUser" useGeneratedKeys="true" keyProperty="id">
        insert into Yx_day
       
        <trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="userId != null  and userId != ''">user_id,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            work_start,
            <if test="workNumber != null ">work_number,</if>
            <if test="workPrice != null ">work_price,</if>
            <if test="workAll != null ">work_all,</if>
            <if test="workFen != null ">work_fen,</if>
            <if test="workHuo != null ">work_huo,</if>
            <if test="workSum != null ">work_sum,</if>
            <if test="createTime != null  and createTime != ''">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            update_time,
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="sex != null  and sex != ''">sex,</if>
            <if test="tell != null  and tell != ''">tell,</if>
            <if test="card != null  and card != ''">card,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="userOrg != null  and userOrg != ''">user_org,</if>
            <if test="userArea != null  and userArea != ''">user_area,</if>
            <if test="userGroup != null  and userGroup != ''">user_group,</if>
            <if test="userClass != null  and userClass != ''">user_class,</if>
            <if test="station != null  and station != ''">station,</if>
            <if test="workType != null  and workType != ''">work_type,</if>
            <if test="workClass != null  and workClass != ''">work_class,</if>
            <if test="userCost != null  and userCost != ''">user_cost,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            #{workStart},
            <if test="workNumber != null ">#{workNumber},</if>
            <if test="workPrice != null "> #{workPrice},</if>
            <if test="workAll != null ">#{workAll},</if>
            <if test="workFen != null ">#{workFen},</if>
            <if test="workHuo != null ">#{workHuo},</if>
            <if test="workSum != null ">#{workSum},</if>
            <if test="createTime != null  and createTime != ''">#{createTimes},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            #{updateTime},
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="sex != null  and sex != ''">#{sex},</if>
            <if test="tell != null  and tell != ''">#{tell},</if>
            <if test="card != null  and card != ''">#{card},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="userOrg != null  and userOrg != ''">#{userOrg},</if>
            <if test="userArea != null  and userArea != ''">#{userArea},</if>
            <if test="userGroup != null  and userGroup != ''">#{userGroup},</if>
            <if test="userClass != null  and userClass != ''">#{userClass},</if>
            <if test="station != null  and station != ''">#{station},</if>
            <if test="workType != null  and workType != ''">#{workType},</if>
            <if test="workClass != null  and workClass != ''">#{workClass},</if>
            <if test="userCost != null  and userCost != ''">#{userCost},</if>
        </trim>    
    </insert>

    
	<update id="updateYxDay" parameterType="YxDay">
        update yx_day
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="userName != null  and userName != ''">user_name = #{userName},</if>
            <if test="sex != null  and sex != ''">sex = #{sex},</if>
            <if test="tell != null  and tell != ''">tell = #{tell},</if>
            <if test="card != null  and card != ''">card = #{card},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="userOrg != null  and userOrg != ''">user_org = #{userOrg},</if>
            <if test="userArea != null  and userArea != ''">user_area = #{userArea},</if>
            <if test="userGroup != null  and userGroup != ''">user_group = #{userGroup},</if>
            <if test="userClass != null  and userClass != ''">user_class = #{userClass},</if>
            <if test="station != null  and station != ''">station = #{station},</if>
            <if test="workType != null  and workType != ''">work_type = #{workType},</if>
            <if test="workClass != null  and workClass != ''">work_class = #{workClass},</if>
            <if test="workStart != null ">work_start = #{workStart},</if>
            <if test="workNumber != null ">work_number = #{workNumber},</if>
            <if test="workPrice != null ">work_price = #{workPrice},</if>
            <if test="workAll != null ">work_all = #{workAll},</if>
            <if test="workFen != null ">work_fen = #{workFen},</if>
            <if test="workSum != null ">work_sum = #{workSum},</if>
            <if test="workHuo != null ">work_huo = #{workHuo},</if>
            <if test="workDan != null ">work_dan = #{workDan},</if>
            <if test="userCost != null ">user_cost = #{userCost},</if>
            <if test="createTime != null  and createTime != ''">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>


    <delete id="deleteYxDayById" parameterType="Long">
        delete from yx_day where id = #{id}
    </delete>

    <delete id="deleteYxDayByIds" parameterType="String">
        delete from yx_day where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectDeptList" parameterType="Dept" resultMap="DeptResult">
        <include refid="selectDeptVo"/>
        where d.del_flag = '0'
        <if test="parentId != null and parentId != 0">
            AND parent_id = #{parentId}
        </if>
        <if test="deptName != null and deptName != ''">
            AND dept_name like concat('%', #{deptName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by d.parent_id, d.order_num
    </select>
    <resultMap type="Dept" id="DeptResult">
        <id     property="deptId"     column="dept_id"     />
        <result property="parentId"   column="parent_id"   />
        <result property="ancestors"  column="ancestors"   />
        <result property="deptName"   column="dept_name"   />
        <result property="orderNum"   column="order_num"   />
        <result property="leader"     column="leader"      />
        <result property="phone"      column="phone"       />
        <result property="email"      column="email"       />
        <result property="status"     column="status"      />
        <result property="delFlag"    column="del_flag"    />
        <result property="parentName" column="parent_name" />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
    </resultMap>
    <sql id="selectDeptVo">
        select d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.phone, d.email, d.status, d.del_flag, d.create_by, d.create_time
        from sys_dept d
    </sql>

</mapper>