<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.yx.mapper.YxMapper">
    
    <resultMap type="Yx" id="YxResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="sex"    column="sex"    />
        <result property="tell"    column="tell"    />
        <result property="card"    column="card"    />
        <result property="address"    column="address"    />
        <result property="userOrg"    column="user_org"    />
        <result property="userArea"    column="user_area"    />
        <result property="userGroup"    column="user_group"    />
        <result property="userClass"    column="user_class"    />
        <result property="station"    column="station"    />
        <result property="workType"    column="work_type"    />
        <result property="workClass"    column="work_class"    />
        <result property="workStart"    column="work_start"    />
        <result property="countDay"    column="count_day"    />
        <result property="workNumber"    column="work_number"    />
        <result property="workPrice"    column="work_price"    />
        <result property="workAll"    column="work_all"    />
        <result property="workFen"    column="work_fen"    />
        <result property="workSum"    column="work_sum"    />
        <result property="workHuo"    column="work_huo"    />
        <result property="kaohe"    column="kaohe"    />
        <result property="meiKaohe"    column="mei_kaohe"    />
        <result property="meeting"    column="meeting"    />
        <result property="yearsHolidays"    column="years_holidays"    />
        <result property="yearsCost"    column="years_cost"    />
        <result property="yearDay"    column="year_day"    />
        <result property="yearCost"    column="year_cost"    />
        <result property="yearWork"    column="year_work"    />
        <result property="yearSum"    column="year_sum"    />
        <result property="yearPlus"    column="year_plus"    />
        <result property="yearDuty"    column="year_duty"    />
        <result property="workPlus"    column="work_plus"    />
        <result property="workCost"    column="work_cost"    />
        <result property="lawDay"    column="law_day"    />
        <result property="lawCost"    column="law_cost"    />
        <result property="busDay"    column="bus_day"    />
        <result property="busCost"    column="bus_cost"    />
        <result property="busPlus"    column="bus_plus"    />
        <result property="woman"    column="woman"    />
        <result property="run"    column="run"    />
        <result property="ye"    column="ye"    />
        <result property="kuangji"    column="kuangji"    />
        <result property="huliDay"    column="huli_day"    />
        <result property="huliCost"    column="huli_cost"    />
        <result property="gsDay"    column="gs_day"    />
        <result property="gsCost"    column="gs_cost"    />
        <result property="tqDay"    column="tq_day"    />
        <result property="tqCost"    column="tq_cost"    />
        <result property="bingDay"    column="bing_day"    />
        <result property="bingCost"    column="bing_cost"    />
        <result property="sangDay"    column="sang_day"    />
        <result property="sangCost"    column="sang_cost"    />
        <result property="sjDay"    column="sj_day"    />
        <result property="kgDay"    column="kg_day"    />
        <result property="dgDay"    column="dg_day"    />
        <result property="other"    column="other"    />
        <result property="userCost"    column="user_cost"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectYxVo">
        select distinct(id), user_id, user_name, sex, tell, card, address, user_org, user_area, user_group, user_class, station, work_type, work_class, work_start,
        work_number, work_price, work_all, work_fen, work_sum, work_huo, kaohe, mei_kaohe, meeting, years_holidays, years_cost, year_day, year_cost, year_work,
         year_sum, year_plus, year_duty, work_plus, work_cost, law_day, law_cost, bus_day, bus_cost, bus_plus, woman, run, ye, kuangji, huli_day, huli_cost, 
         gs_day, gs_cost, tq_day, tq_cost, bing_day, bing_cost, sang_day, sang_cost, sj_day, kg_day, dg_day,other, user_cost,
        yx.create_time, yx.create_by,yx.update_time,yx.update_by, remark from yx
        
<!--          yx.create_time, yx.create_by,yx.update_time,yx.update_by, -->
        
        
        left join sys_dept sd on (sd.dept_name = yx.user_org or sd.dept_name = yx.user_area or sd.dept_name = yx.user_group or sd.dept_name = yx.user_class)
    </sql>




    <select id="selectYxKHList" parameterType="Yx" resultMap="YxResult">
    
 select user_id, user_name, sex, tell, card,address,user_org, user_area, user_group, user_class, station, work_type, work_class,LEFT(create_time,7) AS create_time,COUNT(*) as count_day,work_start,sum(work_sum) as work_sum ,sum(work_huo) as work_huo,

sum(kaohe) as kaohe,sum(mei_kaohe) as mei_kaohe,sum(meeting) as meeting,count(years_holidays) as years_holidays,sum(years_cost) as years_cost,count(year_day) as year_day,sum(year_cost) as year_cost,sum(year_work) as year_work,


sum(year_sum) as year_sum,count(year_plus) as year_plus,sum(year_duty) as year_duty,count(work_plus) as work_plus,sum(work_cost) as work_cost,count(law_day) as law_day,sum(law_cost) as law_cost,count(bus_day) as bus_day,sum(bus_cost) as bus_cost,sum(bus_plus) as bus_plus,sum(woman) as woman,sum(run) as run,


sum(ye) as ye, sum(kuangji) as kuangji,count(huli_day) as huli_day,sum(huli_cost) as huli_cost,count(gs_day) as gs_day,sum(gs_cost) as gs_cost,count(tq_day) as q_day,sum(tq_cost) as tq_cost,count(bing_day) as bing_day,sum(bing_cost) as bing_cost,count(sang_day) as sang_day,sum(sang_cost) as sang_cost,


count(sj_day) as sj_day,count(kg_day) as kg_day,count(dg_day) as dg_day,sum(other) as other,sum(work_sum) + sum(work_huo) + sum(kaohe) as user_cost  
    
from  yx   

    
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="userOrg != null  and userOrg != ''"> and (sd.dept_id = #{userOrg} or sd.ancestors like concat('%',#{userOrg},'%'))</if>
            <if test="userGroup != null  and userGroup != ''"> and user_group = #{userGroup}</if>
            <if test="userClass != null  and userClass != ''"> and user_class = #{userClass}</if>
            <if test="workType != null  and workType != ''"> and work_type = #{workType}</if>
            <if test="workClass != null  and workClass != ''"> and work_class = #{workClass}</if>
            <if test="createTime != null  and createTime != ''">and yx.create_time like  concat('%',#{createTime},'%')</if>
         <!--   <if test="createTime != null  and createTime != ''">and yx.create_time like '2020-04' </if> -->
           
        </where>
        
         group by  user_id, user_name, sex, tell, card,address,user_org, user_area, user_group, user_class, station, work_type, work_class, work_start,LEFT(create_time,7) having work_start = 1


</select>       
    
    
    
    <select id="selectYxList" parameterType="Yx" resultMap="YxResult">
        <include refid="selectYxVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="userOrg != null  and userOrg != ''"> and (sd.dept_id = #{userOrg} or sd.ancestors like concat('%',#{userOrg},'%'))</if>
            <if test="userGroup != null  and userGroup != ''"> and user_group = #{userGroup}</if>
            <if test="userClass != null  and userClass != ''"> and user_class = #{userClass}</if>
            <if test="workType != null  and workType != ''"> and work_type = #{workType}</if>
            <if test="workClass != null  and workClass != ''"> and work_class = #{workClass}</if>
            <if test="workStart != null">   and work_start = #{workStart} </if>
            <if test="createTime != null  and createTime != ''">and yx.create_time like  concat('%',#{createTime},'%')</if>
        </where>
    </select>
    
    
    
    
    
    
    
    <select id="selectYxById" parameterType="Long" resultMap="YxResult">
        <include refid="selectYxVo"/>
        where id = #{id}
    </select>
    
    
    <select id="findUserOrgExize" resultType="String">
       select
          yx.id
       from 
          yx 
          left join sys_dept sd on (sd.dept_name = yx.user_org or sd.dept_name = yx.user_area or sd.dept_name = yx.user_group or sd.dept_name = yx.user_class)   
       where
          sd.dept_id = #{userOrg}
          and yx.user_id = #{userId}
          limit 1        
    </select>
    
    <select id="selectYx" resultType="java.util.Map">
       select 
           sex AS "sex",
           tell AS "tell",
           card AS "card",
           address AS "address",
           user_org AS "userOrg",
           user_area AS "userArea",
           user_group AS "userGroup",
           user_class AS "userClass",
           station AS "station",
           work_type AS "workType",
           work_class AS "workClass"
       from 
           yx
       where
           user_id = #{userId}
           limit 1        
    </select>
    



 <insert id="insertYxUser" parameterType="YxUser" useGeneratedKeys="true" keyProperty="id">
        insert into yx
        
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="sex != null  and sex != ''">sex,</if>
            <if test="tell != null  and tell != ''">tell,</if>
            <if test="card != null  and card != ''">card,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="userOrg != null  and userOrg != ''">user_org,</if>
            <if test="userArea != null  and userArea != ''">user_area,</if>
            <if test="userGroup != null  and userGroup != ''">user_group,</if>
            <if test="userClass != null  and userClass != ''">user_class,</if>
            <if test="station != null  and station != ''">station,</if>
            <if test="workType != null  and workType != ''">work_type,</if>
            <if test="workClass != null  and workClass != ''">work_class,</if>
         </trim>
         
         
        <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="sex != null  and sex != ''">#{sex},</if>
            <if test="tell != null  and tell != ''">#{tell},</if>
            <if test="card != null  and card != ''"> #{card},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="userOrg != null  and userOrg != ''"> #{userOrg},</if>
            <if test="userArea != null  and userArea != ''">#{userArea},</if>
            <if test="userGroup != null  and userGroup != ''">#{userGroup},</if>
            <if test="userClass != null  and userClass != ''">#{userClass},</if>
            <if test="station != null  and station != ''">#{station},</if>
            <if test="workType != null  and workType != ''">#{workType},</if>
            <if test="workClass != null  and workClass != ''">#{workClass},</if>
         </trim>
    </insert>



 <insert id="insertYx" parameterType="YxUser" useGeneratedKeys="true" keyProperty="id">
        insert into yx
        
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="sex != null  and sex != ''">sex,</if>
            <if test="tell != null  and tell != ''">tell,</if>
            <if test="card != null  and card != ''">card,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="userOrg != null  and userOrg != ''">user_org,</if>
            <if test="userArea != null  and userArea != ''">user_area,</if>
            <if test="userGroup != null  and userGroup != ''">user_group,</if>
            <if test="userClass != null  and userClass != ''">user_class,</if>
            <if test="station != null  and station != ''">station,</if>
            <if test="workType != null  and workType != ''">work_type,</if>
            <if test="workClass != null  and workClass != ''">work_class,</if>
            <if test="workStart != null  and workStart != ''">work_start,</if>
            <if test="createTime != null  and createTime != ''">create_time,</if>
         </trim>
         
         
         
        <trim prefix="values (" suffix=")" suffixOverrides=",">
              <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="sex != null  and sex != ''">#{sex},</if>
            <if test="tell != null  and tell != ''">#{tell},</if>
            <if test="card != null  and card != ''">#{card},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="userOrg != null  and userOrg != ''">#{userOrg},</if>
            <if test="userArea != null  and userArea != ''">#{userArea},</if>
            <if test="userGroup != null  and userGroup != ''">#{userGroup},</if>
            <if test="userClass != null  and userClass != ''">#{userClass},</if>
            <if test="station != null  and station != ''">#{station},</if>
            <if test="workType != null  and workType != ''">#{workType},</if>
            <if test="workClass != null  and workClass != ''">#{workClass},</if>
            <if test="workStart != null  and workStart != ''">#{workStart},</if>
            <if test="createTime != null  and createTime != ''">#{createTime},</if>
         </trim>
    </insert>



    <insert id="insertYxUpload" parameterType="YxUser" useGeneratedKeys="true" keyProperty="id">
        insert into yx
       
        <trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="userId != null  and userId != ''">user_id,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            work_start,
            <if test="workNumber != null ">work_number,</if>
            <if test="workPrice != null ">work_price,</if>
            <if test="workAll != null ">work_all,</if>
            <if test="workFen != null ">work_fen,</if>
            <if test="workHuo != null ">work_huo,</if>
            <if test="workSum != null ">work_sum,</if>
            <if test="createTime != null  and createTime != ''">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            update_time,
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="sex != null  and sex != ''">sex,</if>
            <if test="tell != null  and tell != ''">tell,</if>
            <if test="card != null  and card != ''">card,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="userOrg != null  and userOrg != ''">user_org,</if>
            <if test="userArea != null  and userArea != ''">user_area,</if>
            <if test="userGroup != null  and userGroup != ''">user_group,</if>
            <if test="userClass != null  and userClass != ''">user_class,</if>
            <if test="station != null  and station != ''">station,</if>
            <if test="workType != null  and workType != ''">work_type,</if>
            <if test="workClass != null  and workClass != ''">work_class,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            #{workStart},
            <if test="workNumber != null ">#{workNumber},</if>
            <if test="workPrice != null "> #{workPrice},</if>
            <if test="workAll != null ">#{workAll},</if>
            <if test="workFen != null ">#{workFen},</if>
            <if test="workHuo != null ">#{workHuo},</if>
            <if test="workSum != null ">#{workSum},</if>
            <if test="createTime != null  and createTime != ''">#{createTimes},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            #{updateTime},
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="sex != null  and sex != ''">#{sex},</if>
            <if test="tell != null  and tell != ''">#{tell},</if>
            <if test="card != null  and card != ''">#{card},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="userOrg != null  and userOrg != ''">#{userOrg},</if>
            <if test="userArea != null  and userArea != ''">#{userArea},</if>
            <if test="userGroup != null  and userGroup != ''">#{userGroup},</if>
            <if test="userClass != null  and userClass != ''">#{userClass},</if>
            <if test="station != null  and station != ''">#{station},</if>
            <if test="workType != null  and workType != ''">#{workType},</if>
            <if test="workClass != null  and workClass != ''">#{workClass},</if>
        </trim>    
    </insert>

    

    <update id="updateYx" parameterType="Yx">
        update yx
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="userName != null  and userName != ''">user_name = #{userName},</if>
            <if test="workStart != null  and workStart != ''">work_start = #{workStart},</if>
            <if test="workNumber != null ">work_number = #{workNumber},</if>
            <if test="workPrice != null ">work_price = #{workPrice},</if>
            <if test="workAll != null ">work_all = #{workAll},</if>
            <if test="workFen != null ">work_fen = #{workFen},</if>
            <if test="workHuo != null ">work_huo = #{workHuo},</if>
            <if test="kaohe != null ">kaohe = #{kaohe},</if>
            <if test="meiKaohe != null ">mei_kaohe = #{meiKaohe},</if>
            <if test="meeting != null ">meeting = #{meeting},</if>
            <if test="yearsHolidays != null ">years_holidays = #{yearsHolidays},</if>
            <if test="yearsCost != null ">years_cost = #{yearsCost},</if>
            <if test="yearDay != null ">year_day = #{yearDay},</if>
            <if test="yearCost != null ">year_cost = #{yearCost},</if>
            <if test="yearWork != null ">year_work = #{yearWork},</if>
            <if test="yearSum != null ">year_sum = #{yearSum},</if>
            <if test="yearPlus != null ">year_plus = #{yearPlus},</if>
            <if test="yearDuty != null ">year_duty = #{yearDuty},</if>
            <if test="workPlus != null ">work_plus = #{workPlus},</if>
            <if test="workCost != null ">work_cost = #{workCost},</if>
            <if test="lawDay != null ">law_day = #{lawDay},</if>
            <if test="lawCost != null ">law_cost = #{lawCost},</if>
            <if test="busDay != null ">bus_day = #{busDay},</if>
            <if test="busCost != null ">bus_cost = #{busCost},</if>
            <if test="busPlus != null ">bus_plus = #{busPlus},</if>
            <if test="woman != null ">woman = #{woman},</if>
            <if test="run != null ">run = #{run},</if>
            <if test="ye != null ">ye = #{ye},</if>
            <if test="kuangji != null ">kuangji = #{kuangji},</if>
            <if test="huliDay != null ">huli_day = #{huliDay},</if>
            <if test="huliCost != null ">huli_cost = #{huliCost},</if>
            <if test="gsDay != null ">gs_day = #{gsDay},</if>
            <if test="gsCost != null ">gs_cost = #{gsCost},</if>
            <if test="tqDay != null ">tq_day = #{tqDay},</if>
            <if test="tqCost != null ">tq_cost = #{tqCost},</if>
            <if test="bingDay != null ">bing_day = #{bingDay},</if>
            <if test="bingCost != null ">bing_cost = #{bingCost},</if>
            <if test="sangDay != null ">sang_day = #{sangDay},</if>
            <if test="sangCost != null ">sang_cost = #{sangCost},</if>
            <if test="sjDay != null ">sj_day = #{sjDay},</if>
            <if test="kgDay != null ">kg_day = #{kgDay},</if>
            <if test="dgDay != null ">dg_day = #{dgDay},</if>
            <if test="other != null ">other = #{other},</if>
            <if test="userCost != null ">user_cost = #{userCost},</if>
            <if test="createTime != null  and createTime != ''">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYxById" parameterType="Long">
        delete from yx where id = #{id}
    </delete>

    <delete id="deleteYxByIds" parameterType="String">
        delete from yx where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectDeptList" parameterType="Dept" resultMap="DeptResult">
        <include refid="selectDeptVo"/>
        where d.del_flag = '0'
        <if test="parentId != null and parentId != 0">
            AND parent_id = #{parentId}
        </if>
        <if test="deptName != null and deptName != ''">
            AND dept_name like concat('%', #{deptName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by d.parent_id, d.order_num
    </select>
    <resultMap type="Dept" id="DeptResult">
        <id     property="deptId"     column="dept_id"     />
        <result property="parentId"   column="parent_id"   />
        <result property="ancestors"  column="ancestors"   />
        <result property="deptName"   column="dept_name"   />
        <result property="orderNum"   column="order_num"   />
        <result property="leader"     column="leader"      />
        <result property="phone"      column="phone"       />
        <result property="email"      column="email"       />
        <result property="status"     column="status"      />
        <result property="delFlag"    column="del_flag"    />
        <result property="parentName" column="parent_name" />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
    </resultMap>
    <sql id="selectDeptVo">
        select d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.phone, d.email, d.status, d.del_flag, d.create_by, d.create_time
        from sys_dept d
    </sql>

</mapper>