<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.yx.mapper.YxMapper">
    
    <resultMap type="Yx" id="YxResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="sex"    column="sex"    />
        <result property="tell"    column="tell"    />
        <result property="card"    column="card"    />
        <result property="address"    column="address"    />
        <result property="userOrg"    column="user_org"    />
        <result property="userArea"    column="user_area"    />
        <result property="userGroup"    column="user_group"    />
        <result property="userClass"    column="user_class"    />
        <result property="station"    column="station"    />
        <result property="workType"    column="work_type"    />
        <result property="workClass"    column="work_class"    />
        <result property="workNumber"    column="work_number"    />
        <result property="workPrice"    column="work_price"    />
        <result property="workAll"    column="work_all"    />
        <result property="workFen"    column="work_fen"    />
        <result property="workSum"    column="work_sum"    />
        <result property="kaohe"    column="kaohe"    />
        <result property="meiKaohe"    column="mei_kaohe"    />
        <result property="meeting"    column="meeting"    />
        <result property="yearsHolidays"    column="years_holidays"    />
        <result property="yearsCost"    column="years_cost"    />
        <result property="yearDay"    column="year_day"    />
        <result property="yearCost"    column="year_cost"    />
        <result property="yearWork"    column="year_work"    />
        <result property="yearSum"    column="year_sum"    />
        <result property="yearPlus"    column="year_plus"    />
        <result property="yearDuty"    column="year_duty"    />
        <result property="workPlus"    column="work_plus"    />
        <result property="workCost"    column="work_cost"    />
        <result property="lawDay"    column="law_day"    />
        <result property="lawCost"    column="law_cost"    />
        <result property="busDay"    column="bus_day"    />
        <result property="busCost"    column="bus_cost"    />
        <result property="busPlus"    column="bus_plus"    />
        <result property="woman"    column="woman"    />
        <result property="run"    column="run"    />
        <result property="ye"    column="ye"    />
        <result property="kuangji"    column="kuangji"    />
        <result property="huliDay"    column="huli_day"    />
        <result property="huliCost"    column="huli_cost"    />
        <result property="gsDay"    column="gs_day"    />
        <result property="gsCost"    column="gs_cost"    />
        <result property="tqDay"    column="tq_day"    />
        <result property="tqCost"    column="tq_cost"    />
        <result property="bingDay"    column="bing_day"    />
        <result property="bingCost"    column="bing_cost"    />
        <result property="sangDay"    column="sang_day"    />
        <result property="sangCost"    column="sang_cost"    />
        <result property="sjDay"    column="sj_day"    />
        <result property="kgDay"    column="kg_day"    />
        <result property="dgDay"    column="dg_day"    />
        <result property="other"    column="other"    />
        <result property="userCost"    column="user_cost"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectYxVo">
        select id, user_id, user_name, sex, tell, card, address, user_org, user_area, user_group, user_class, station, work_type, work_class, work_number, work_price, work_all, work_fen, work_sum, kaohe, mei_kaohe, meeting, years_holidays, years_cost, year_day, year_cost, year_work, year_sum, year_plus, year_duty, work_plus, work_cost, law_day, law_cost, bus_day, bus_cost, bus_plus, woman, run, ye, kuangji, huli_day, huli_cost, gs_day, gs_cost, tq_day, tq_cost, bing_day, bing_cost, sang_day, sang_cost, sj_day, kg_day, dg_day, other, user_cost, create_time, create_by, update_time, update_by, remark from yx
    </sql>

    <select id="selectYxList" parameterType="Yx" resultMap="YxResult">
        <include refid="selectYxVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="tell != null  and tell != ''"> and tell = #{tell}</if>
            <if test="card != null  and card != ''"> and card = #{card}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="userOrg != null  and userOrg != ''"> and user_org = #{userOrg}</if>
            <if test="userArea != null  and userArea != ''"> and user_area = #{userArea}</if>
            <if test="userGroup != null  and userGroup != ''"> and user_group = #{userGroup}</if>
            <if test="userClass != null  and userClass != ''"> and user_class = #{userClass}</if>
            <if test="station != null  and station != ''"> and station = #{station}</if>
            <if test="workType != null  and workType != ''"> and work_type = #{workType}</if>
            <if test="workClass != null  and workClass != ''"> and work_class = #{workClass}</if>
            <if test="workNumber != null "> and work_number = #{workNumber}</if>
            <if test="workPrice != null "> and work_price = #{workPrice}</if>
            <if test="workAll != null "> and work_all = #{workAll}</if>
            <if test="workFen != null "> and work_fen = #{workFen}</if>
            <if test="workSum != null "> and work_sum = #{workSum}</if>
            <if test="kaohe != null "> and kaohe = #{kaohe}</if>
            <if test="meiKaohe != null "> and mei_kaohe = #{meiKaohe}</if>
            <if test="meeting != null "> and meeting = #{meeting}</if>
            <if test="yearsHolidays != null "> and years_holidays = #{yearsHolidays}</if>
            <if test="yearsCost != null "> and years_cost = #{yearsCost}</if>
            <if test="yearDay != null "> and year_day = #{yearDay}</if>
            <if test="yearCost != null "> and year_cost = #{yearCost}</if>
            <if test="yearWork != null "> and year_work = #{yearWork}</if>
            <if test="yearSum != null "> and year_sum = #{yearSum}</if>
            <if test="yearPlus != null "> and year_plus = #{yearPlus}</if>
            <if test="yearDuty != null "> and year_duty = #{yearDuty}</if>
            <if test="workPlus != null "> and work_plus = #{workPlus}</if>
            <if test="workCost != null "> and work_cost = #{workCost}</if>
            <if test="lawDay != null "> and law_day = #{lawDay}</if>
            <if test="lawCost != null "> and law_cost = #{lawCost}</if>
            <if test="busDay != null "> and bus_day = #{busDay}</if>
            <if test="busCost != null "> and bus_cost = #{busCost}</if>
            <if test="busPlus != null "> and bus_plus = #{busPlus}</if>
            <if test="woman != null "> and woman = #{woman}</if>
            <if test="run != null "> and run = #{run}</if>
            <if test="ye != null "> and ye = #{ye}</if>
            <if test="kuangji != null "> and kuangji = #{kuangji}</if>
            <if test="huliDay != null "> and huli_day = #{huliDay}</if>
            <if test="huliCost != null "> and huli_cost = #{huliCost}</if>
            <if test="gsDay != null "> and gs_day = #{gsDay}</if>
            <if test="gsCost != null "> and gs_cost = #{gsCost}</if>
            <if test="tqDay != null "> and tq_day = #{tqDay}</if>
            <if test="tqCost != null "> and tq_cost = #{tqCost}</if>
            <if test="bingDay != null "> and bing_day = #{bingDay}</if>
            <if test="bingCost != null "> and bing_cost = #{bingCost}</if>
            <if test="sangDay != null "> and sang_day = #{sangDay}</if>
            <if test="sangCost != null "> and sang_cost = #{sangCost}</if>
            <if test="sjDay != null "> and sj_day = #{sjDay}</if>
            <if test="kgDay != null "> and kg_day = #{kgDay}</if>
            <if test="dgDay != null "> and dg_day = #{dgDay}</if>
            <if test="other != null "> and other = #{other}</if>
            <if test="userCost != null "> and user_cost = #{userCost}</if>
        </where>
    </select>
    
    <select id="selectYxById" parameterType="Long" resultMap="YxResult">
        <include refid="selectYxVo"/>
        where id = #{id}
    </select>
    
   
    <insert id="insertYx" parameterType="Yx" useGeneratedKeys="true" keyProperty="id">
        insert into yx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="sex != null  and sex != ''">sex,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="sex != null  and sex != ''">#{sex},</if>
         </trim>
    </insert>

    <update id="updateYx" parameterType="Yx">
        update yx
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="userName != null  and userName != ''">user_name = #{userName},</if>
            <if test="sex != null  and sex != ''">sex = #{sex},</if>
            <if test="tell != null  and tell != ''">tell = #{tell},</if>
            <if test="card != null  and card != ''">card = #{card},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="userOrg != null  and userOrg != ''">user_org = #{userOrg},</if>
            <if test="userArea != null  and userArea != ''">user_area = #{userArea},</if>
            <if test="userGroup != null  and userGroup != ''">user_group = #{userGroup},</if>
            <if test="userClass != null  and userClass != ''">user_class = #{userClass},</if>
            <if test="station != null  and station != ''">station = #{station},</if>
            <if test="workType != null  and workType != ''">work_type = #{workType},</if>
            <if test="workClass != null  and workClass != ''">work_class = #{workClass},</if>
            <if test="workNumber != null ">work_number = #{workNumber},</if>
            <if test="workPrice != null ">work_price = #{workPrice},</if>
            <if test="workAll != null ">work_all = #{workAll},</if>
            <if test="workFen != null ">work_fen = #{workFen},</if>
            <if test="workSum != null ">work_sum = #{workSum},</if>
            <if test="kaohe != null ">kaohe = #{kaohe},</if>
            <if test="meiKaohe != null ">mei_kaohe = #{meiKaohe},</if>
            <if test="meeting != null ">meeting = #{meeting},</if>
            <if test="yearsHolidays != null ">years_holidays = #{yearsHolidays},</if>
            <if test="yearsCost != null ">years_cost = #{yearsCost},</if>
            <if test="yearDay != null ">year_day = #{yearDay},</if>
            <if test="yearCost != null ">year_cost = #{yearCost},</if>
            <if test="yearWork != null ">year_work = #{yearWork},</if>
            <if test="yearSum != null ">year_sum = #{yearSum},</if>
            <if test="yearPlus != null ">year_plus = #{yearPlus},</if>
            <if test="yearDuty != null ">year_duty = #{yearDuty},</if>
            <if test="workPlus != null ">work_plus = #{workPlus},</if>
            <if test="workCost != null ">work_cost = #{workCost},</if>
            <if test="lawDay != null ">law_day = #{lawDay},</if>
            <if test="lawCost != null ">law_cost = #{lawCost},</if>
            <if test="busDay != null ">bus_day = #{busDay},</if>
            <if test="busCost != null ">bus_cost = #{busCost},</if>
            <if test="busPlus != null ">bus_plus = #{busPlus},</if>
            <if test="woman != null ">woman = #{woman},</if>
            <if test="run != null ">run = #{run},</if>
            <if test="ye != null ">ye = #{ye},</if>
            <if test="kuangji != null ">kuangji = #{kuangji},</if>
            <if test="huliDay != null ">huli_day = #{huliDay},</if>
            <if test="huliCost != null ">huli_cost = #{huliCost},</if>
            <if test="gsDay != null ">gs_day = #{gsDay},</if>
            <if test="gsCost != null ">gs_cost = #{gsCost},</if>
            <if test="tqDay != null ">tq_day = #{tqDay},</if>
            <if test="tqCost != null ">tq_cost = #{tqCost},</if>
            <if test="bingDay != null ">bing_day = #{bingDay},</if>
            <if test="bingCost != null ">bing_cost = #{bingCost},</if>
            <if test="sangDay != null ">sang_day = #{sangDay},</if>
            <if test="sangCost != null ">sang_cost = #{sangCost},</if>
            <if test="sjDay != null ">sj_day = #{sjDay},</if>
            <if test="kgDay != null ">kg_day = #{kgDay},</if>
            <if test="dgDay != null ">dg_day = #{dgDay},</if>
            <if test="other != null ">other = #{other},</if>
            <if test="userCost != null ">user_cost = #{userCost},</if>
            <if test="createTime != null  and createTime != ''">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYxById" parameterType="Long">
        delete from yx where id = #{id}
    </delete>

    <delete id="deleteYxByIds" parameterType="String">
        delete from yx where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectDeptList" parameterType="Dept" resultMap="DeptResult">
        <include refid="selectDeptVo"/>
        where d.del_flag = '0'
        <if test="parentId != null and parentId != 0">
            AND parent_id = #{parentId}
        </if>
        <if test="deptName != null and deptName != ''">
            AND dept_name like concat('%', #{deptName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by d.parent_id, d.order_num
    </select>
    <resultMap type="Dept" id="DeptResult">
        <id     property="deptId"     column="dept_id"     />
        <result property="parentId"   column="parent_id"   />
        <result property="ancestors"  column="ancestors"   />
        <result property="deptName"   column="dept_name"   />
        <result property="orderNum"   column="order_num"   />
        <result property="leader"     column="leader"      />
        <result property="phone"      column="phone"       />
        <result property="email"      column="email"       />
        <result property="status"     column="status"      />
        <result property="delFlag"    column="del_flag"    />
        <result property="parentName" column="parent_name" />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
    </resultMap>
    <sql id="selectDeptVo">
        select d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.phone, d.email, d.status, d.del_flag, d.create_by, d.create_time
        from sys_dept d
    </sql>

</mapper>