<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改部门')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-kao-edit" th:object="${yxKao}">
            <input name="deptId" th:field="*{deptId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">部门名称：</label>
                <div class="col-sm-8">
                    <input name="deptName" th:field="*{deptName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">部门人数：</label>
                <div class="col-sm-8">
                    <input name="deptNum" th:field="*{deptNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计算工资：</label>
                <div class="col-sm-8">
                    <input name="userCost" th:field="*{userCost}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计划工资：</label>
                <div class="col-sm-8">
                    <input name="userMoney" th:field="*{userMoney}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/kao";
        $("#form-kao-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-kao-edit').serialize());
            }
        }
        
        
        
        $.validator.addMethod("checkMoney",function(value,element,params){
			var checkQQ = /(?!^0*(\.0{1,2})?$)^\d{1,13}(\.\d{1,2})?$/;
			return this.optional(element)||(checkQQ.test(value));
		},"*请输入正确金额（最多保留两位小数）！");
        
        
        $.validator.addMethod("_checkHan",function(value,element,params){
			var checkQQ = /[\u4e00-\u9fa5]/;
			return this.optional(element)||(checkQQ.test(value));
		},"*请输入汉字（最多保留两位小数）！");
        
        
         $(function(){
            var icon = "<i class='fa fa-times-circle'></i> ";
            $("#form-yxYue-add").validate({
                rules: {
  	      			deptName : {
  	      				required : true,
  	      				_checkHan: true
  	      			},
  	      			deptNum : {
  	      				required : true,
  	      				digits :  true
  	      			},
  	      			userCost : {
  	      				required : true,
  	      				checkMoney :  true
  	      			},
  	      			userMoney : {
  	      				required : true,
  	      				checkMoney :  true
  	      			}


                    
                },
                messages: {
                	
  	      			deptName : {
  	       				required : icon + "请填写部门名称！",
  	      				_checkHan: icon + "请填写汉字！"
  	      			},
  	      			deptNum : {
  	      				required : icon + "请填写部门人数！",
  	      				digits :  icon + "请填写整数！"
  	      			},
  	      			userCost : {
  	      				required : icon + "请填写计算工资！",
  	      				checkMoney :  icon + "请填写数字！"
  	      			},
  	      			userMoney : {
  	      				required : icon + "请填写计划工资！",
	      				checkMoney :  icon + "请填写数字！"
  	      			}
  	    

                }
            }); 
        }) 
        
        
        
        
        
        
    </script>
</body>
</html>