<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                <p><i class="fa fa-send-o"></i> 五九集团官网：<a href="http://www.59jt.com" target="_blank">http://www.59jt.com</a>
            </blockquote>
        </div>
        <div class="col-sm-3">
            <h2>五九集团微信公众号</h2>
            <small>移动设备访问请扫描以下二维码：</small>
            <br>
            <br>
            <img th:src="@{/img/wx.jpg}" width="100%" style="max-width:264px;">
            <br>
        </div>
        <div class="col-sm-5">
            <h2>五九集团薪酬管理平台</h2>
            <p>为实现信息化管理，薪资做到日结日清   明细查询便捷   个区队班组方便管理  结合实际操作。集团公司研发自主薪酬管理平台，代码封装过后十分精简易上手，出错概率低，维护方便，系统会陆续更新一些实用功能。</p>
            <p>
                <b>当前版本：</b><span>v1.0</span>
            </p>

            <br>

        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot。</li>
                <li>安全框架：Apache Shiro。</li>
                <li>模板引擎：Thymeleaf。</li>
                <li>持久层框架：MyBatis。</li>
				<li>定时任务:Quartz。</li>
                <li>数据库连接池：Druid。</li>
                <li>工具类：Fastjson。</li>
                <li>控制层：SpringMVC。</li>
                <li>数据库：MySql。</li>
                <li>表单验证：JqueryValidate。</li>
                <li>图形报表：echars。</li>
                <li>框架结构：SSM。</li>
                <li>前端框架：layer bootstrap。</li>
                <li>编码集：UTF-8。</li>
                <li>缓存：ehcache。</li>
                <li>开发工具：IDEA。</li>
                <li>页面格式：html。</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
